{
  "openapi": "3.0.1",
  "info": {
    "title": "basketAPI",
    "description": "basketAPI",
    "version": "2.43.0"
  },
  "servers": [
    {
      "url": "https://api.tilroy.com/basketapi2"
    }
  ],
  "paths": {
    "/baskets": {
      "post": {
        "tags": [
          "baskets"
        ],
        "summary": "create a new basket",
        "description": "Creates a new basket",
        "operationId": "createBasket",
        "parameters": [
          {
            "$ref": "#/components/parameters/headerSessionToken"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/createBasketBody"
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Basket_v2"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "TilroyApiKey": [],
            "XApiKey": []
          }
        ],
        "x-codegen-request-body-name": "createBasketBody"
      }
    },
    "/baskets/{basketId}": {
      "get": {
        "tags": [
          "baskets"
        ],
        "summary": "get a basket",
        "description": "Use this endpoint to retrieve a basket by Id",
        "operationId": "getBasket",
        "parameters": [
          {
            "$ref": "#/components/parameters/headerSessionToken"
          },
          {
            "$ref": "#/components/parameters/pathBasketId"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkBasketActionResult"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestBasketActionResult"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundBasketActionResult"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerBasketActionResult"
          }
        },
        "security": [
          {
            "TilroyApiKey": [],
            "XApiKey": []
          }
        ]
      },
      "put": {
        "tags": [
          "baskets"
        ],
        "summary": "Update a basket",
        "description": "Update a basket",
        "operationId": "updateBasket",
        "parameters": [
          {
            "$ref": "#/components/parameters/headerSessionToken"
          },
          {
            "$ref": "#/components/parameters/pathBasketId"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/updateBasketBody"
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Basket_v2"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "TilroyApiKey": [],
            "XApiKey": []
          }
        ],
        "x-codegen-request-body-name": "updateBasketBody"
      }
    },
    "/baskets/{basketId}/pricesandpromotions": {
      "put": {
        "tags": [
          "baskets"
        ],
        "summary": "Update basket properties about prices-and-promotions calculations",
        "description": "Use this endpoint to enable/disable the Prices-and-Promotions engine",
        "operationId": "updatePricesAndPromotions",
        "parameters": [
          {
            "$ref": "#/components/parameters/headerSessionToken"
          },
          {
            "$ref": "#/components/parameters/pathBasketId"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/pricesAndPromotions"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkBasketActionResult"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestBasketActionResult"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundBasketActionResult"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerBasketActionResult"
          }
        },
        "security": [
          {
            "TilroyApiKey": [],
            "XApiKey": []
          }
        ],
        "x-codegen-request-body-name": "pricesAndPromotions"
      }
    },
    "/baskets/{basketId}/finalize": {
      "put": {
        "tags": [
          "baskets"
        ],
        "summary": "Finalize a basket",
        "description": "Use this endpoint to finalize a basket add the end of the sale",
        "operationId": "finalizeBasket",
        "parameters": [
          {
            "$ref": "#/components/parameters/headerSessionToken"
          },
          {
            "$ref": "#/components/parameters/pathBasketId"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkBasketActionResult"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestBasketActionResult"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundBasketActionResult"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerBasketActionResult"
          }
        },
        "security": [
          {
            "TilroyApiKey": [],
            "XApiKey": []
          }
        ]
      }
    },
    "/baskets/{basketId}/park": {
      "put": {
        "tags": [
          "baskets"
        ],
        "summary": "Park a basket",
        "description": "Use this endpoint to park a basket",
        "operationId": "parkBasket",
        "parameters": [
          {
            "$ref": "#/components/parameters/headerSessionToken"
          },
          {
            "$ref": "#/components/parameters/pathBasketId"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/parkComment"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkBasketActionResult"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestBasketActionResult"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundBasketActionResult"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerBasketActionResult"
          }
        },
        "security": [
          {
            "TilroyApiKey": [],
            "XApiKey": []
          }
        ],
        "x-codegen-request-body-name": "parkComment"
      }
    },
    "/baskets/{basketId}/tags": {
      "put": {
        "tags": [
          "baskets"
        ],
        "summary": "Add tags to a basket",
        "description": "Use this endpoint to add tags to a baket",
        "operationId": "addTags",
        "parameters": [
          {
            "$ref": "#/components/parameters/headerSessionToken"
          },
          {
            "$ref": "#/components/parameters/pathBasketId"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/tagsBody"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkBasketActionResult"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestBasketActionResult"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundBasketActionResult"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerBasketActionResult"
          }
        },
        "security": [
          {
            "TilroyApiKey": [],
            "XApiKey": []
          }
        ],
        "x-codegen-request-body-name": "tagsBody"
      },
      "delete": {
        "tags": [
          "baskets"
        ],
        "summary": "Delete tags from a basket",
        "description": "Use this endpoint to delete tags from a baket",
        "operationId": "deleteTags",
        "parameters": [
          {
            "$ref": "#/components/parameters/headerSessionToken"
          },
          {
            "$ref": "#/components/parameters/pathBasketId"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/tagsBody"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkBasketActionResult"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestBasketActionResult"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundBasketActionResult"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerBasketActionResult"
          }
        },
        "security": [
          {
            "TilroyApiKey": [],
            "XApiKey": []
          }
        ],
        "x-codegen-request-body-name": "tagsBody"
      }
    },
    "/baskets/{basketId}/customer": {
      "put": {
        "tags": [
          "customer"
        ],
        "summary": "Update the customer",
        "description": "Use this endpoint to set the customer of the basket",
        "operationId": "updateCustomer",
        "parameters": [
          {
            "$ref": "#/components/parameters/headerSessionToken"
          },
          {
            "$ref": "#/components/parameters/pathBasketId"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/customer"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkBasketActionResult"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestBasketActionResult"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundBasketActionResult"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerBasketActionResult"
          }
        },
        "security": [
          {
            "TilroyApiKey": [],
            "XApiKey": []
          }
        ],
        "x-codegen-request-body-name": "customer"
      }
    },
    "/baskets/{basketId}/delivery": {
      "put": {
        "tags": [
          "delivery"
        ],
        "summary": "update the delivery",
        "description": "Use this endpoint to update the delivery.<br />\nPass in the 'deliveryService' object together with the date to confirm the chose delivery service and date (on top of updating the data on the basket).",
        "operationId": "updateDelivery",
        "parameters": [
          {
            "$ref": "#/components/parameters/headerSessionToken"
          },
          {
            "$ref": "#/components/parameters/pathBasketId"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/delivery"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkBasketActionResult"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestBasketActionResult"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundBasketActionResult"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerBasketActionResult"
          }
        },
        "security": [
          {
            "TilroyApiKey": [],
            "XApiKey": []
          }
        ],
        "x-codegen-request-body-name": "delivery"
      }
    },
    "/baskets/{basketId}/payments": {
      "post": {
        "tags": [
          "payments"
        ],
        "summary": "Add a payment to the basket",
        "description": "Use this endpoint to add a payment to the basket",
        "operationId": "addPayment",
        "parameters": [
          {
            "$ref": "#/components/parameters/headerSessionToken"
          },
          {
            "$ref": "#/components/parameters/pathBasketId"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/payment"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkBasketActionResult"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestBasketActionResult"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundBasketActionResult"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerBasketActionResult"
          }
        },
        "security": [
          {
            "TilroyApiKey": [],
            "XApiKey": []
          }
        ],
        "x-codegen-request-body-name": "payment"
      }
    },
    "/baskets/{basketId}/payments/{paymentId}": {
      "delete": {
        "tags": [
          "payments"
        ],
        "summary": "delete a payment from the basket",
        "description": "Use this endpoint to delete a payment from the basket",
        "operationId": "deletePayment",
        "parameters": [
          {
            "$ref": "#/components/parameters/headerSessionToken"
          },
          {
            "$ref": "#/components/parameters/pathBasketId"
          },
          {
            "$ref": "#/components/parameters/pathPaymentId"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkBasketActionResult"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestBasketActionResult"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundBasketActionResult"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerBasketActionResult"
          }
        },
        "security": [
          {
            "TilroyApiKey": [],
            "XApiKey": []
          }
        ]
      }
    },
    "/baskets/{basketId}/paymentprovider": {
      "put": {
        "tags": [
          "payments"
        ],
        "summary": "Add a payment provider to the basket",
        "description": "Use this endpoint to add a payment provider to the basket",
        "operationId": "addPaymentProvider",
        "parameters": [
          {
            "$ref": "#/components/parameters/headerSessionToken"
          },
          {
            "$ref": "#/components/parameters/pathBasketId"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/paymentProviderBody"
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BasketActionResultPaymentProvider"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestBasketActionResult"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundBasketActionResult"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerBasketActionResult"
          }
        },
        "security": [
          {
            "TilroyApiKey": [],
            "XApiKey": []
          }
        ],
        "x-codegen-request-body-name": "paymentProviderBody"
      }
    },
    "/baskets/{basketId}/paymentrequests/{paymentRequestId}": {
      "put": {
        "tags": [
          "paymentrequests"
        ],
        "summary": "set a paymentrequest",
        "description": "Use this endpoint to add a paymentrequest to the basket",
        "operationId": "setPaymentRequest",
        "parameters": [
          {
            "$ref": "#/components/parameters/headerSessionToken"
          },
          {
            "$ref": "#/components/parameters/pathBasketId"
          },
          {
            "$ref": "#/components/parameters/pathPaymentRequestId"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/paymentRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkBasketActionResult"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestBasketActionResult"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundBasketActionResult"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerBasketActionResult"
          }
        },
        "security": [
          {
            "TilroyApiKey": [],
            "XApiKey": []
          }
        ],
        "x-codegen-request-body-name": "paymentRequest"
      }
    },
    "/baskets/{basketId}/skus": {
      "post": {
        "tags": [
          "lines"
        ],
        "summary": "Add an sku as a basket line",
        "description": "Use this endpoint to add an sku as a basket line",
        "operationId": "addSkuLine",
        "parameters": [
          {
            "$ref": "#/components/parameters/headerSessionToken"
          },
          {
            "$ref": "#/components/parameters/pathBasketId"
          },
          {
            "$ref": "#/components/parameters/lineType"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/skuLine",
          "required": true
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkBasketActionResult"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestBasketActionResult"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundBasketActionResult"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerBasketActionResult"
          }
        },
        "security": [
          {
            "TilroyApiKey": [],
            "XApiKey": []
          }
        ],
        "x-codegen-request-body-name": "skuLine"
      }
    },
    "/baskets/{basketId}/textLines": {
      "post": {
        "tags": [
          "lines"
        ],
        "summary": "Add a text as a basket line",
        "description": "Use this endpoint to add a text as a basket line",
        "operationId": "addTextLine",
        "parameters": [
          {
            "$ref": "#/components/parameters/headerSessionToken"
          },
          {
            "$ref": "#/components/parameters/pathBasketId"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/textLine"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkBasketActionResult"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestBasketActionResult"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundBasketActionResult"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerBasketActionResult"
          }
        },
        "security": [
          {
            "TilroyApiKey": [],
            "XApiKey": []
          }
        ],
        "x-codegen-request-body-name": "textLine"
      }
    },
    "/baskets/{basketId}/giftVouchers": {
      "post": {
        "tags": [
          "lines"
        ],
        "summary": "Add a giftVoucher as a basket line",
        "description": "Use this endpoint to add a giftVoucher as a basket line",
        "operationId": "addGiftVoucherLine",
        "parameters": [
          {
            "$ref": "#/components/parameters/headerSessionToken"
          },
          {
            "$ref": "#/components/parameters/pathBasketId"
          },
          {
            "$ref": "#/components/parameters/lineType"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/giftVoucherLine"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkBasketActionResult"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestBasketActionResult"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundBasketActionResult"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerBasketActionResult"
          }
        },
        "security": [
          {
            "TilroyApiKey": [],
            "XApiKey": []
          }
        ],
        "x-codegen-request-body-name": "giftVoucherLine"
      }
    },
    "/baskets/{basketId}/lines/{lineId}": {
      "delete": {
        "tags": [
          "lines"
        ],
        "summary": "Delete a basket line",
        "description": "Use this endpoint to delete a line from the basket",
        "operationId": "deleteLine",
        "parameters": [
          {
            "$ref": "#/components/parameters/headerSessionToken"
          },
          {
            "$ref": "#/components/parameters/pathBasketId"
          },
          {
            "$ref": "#/components/parameters/pathLineId"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkBasketActionResult"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestBasketActionResult"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundBasketActionResult"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerBasketActionResult"
          }
        },
        "security": [
          {
            "TilroyApiKey": [],
            "XApiKey": []
          }
        ]
      }
    },
    "/v2/baskets/{basketId}/lines/{lineId}": {
      "put": {
        "tags": [
          "lines"
        ],
        "summary": "Update a line",
        "description": "Deprecated: use ['PUT /v3/baskets/{basketId}/lines'](#operation/saveLinesV3)  <br/>\nUse this endpoint to update a line (only possible for sku lines)\n",
        "operationId": "updateLine",
        "deprecated": true,
        "parameters": [
          {
            "$ref": "#/components/parameters/headerSessionToken"
          },
          {
            "$ref": "#/components/parameters/pathBasketId"
          },
          {
            "$ref": "#/components/parameters/pathLineId"
          },
          {
            "$ref": "#/components/parameters/quantity"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/updateLineBody"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkBasketActionResult"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestBasketActionResult"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundBasketActionResult"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerBasketActionResult"
          }
        },
        "security": [
          {
            "TilroyApiKey": [],
            "XApiKey": []
          }
        ],
        "x-codegen-request-body-name": "updateLineBody"
      }
    },
    "/baskets/{basketId}/lines": {
      "put": {
        "tags": [
          "lines"
        ],
        "summary": "Update multiple Lines",
        "description": "Deprecated: use ['PUT /v3/baskets/{basketId}/lines'](#operation/saveLinesV3)  <br/>\nUse this endpoint to update multiple lines\n",
        "operationId": "updateMultipleLines",
        "deprecated": true,
        "parameters": [
          {
            "$ref": "#/components/parameters/headerSessionToken"
          },
          {
            "$ref": "#/components/parameters/pathBasketId"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/updateMultipleLinesBody"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkBasketActionResult"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestBasketActionResult"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundBasketActionResult"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerBasketActionResult"
          }
        },
        "security": [
          {
            "TilroyApiKey": [],
            "XApiKey": []
          }
        ],
        "x-codegen-request-body-name": "updateMultipleLinesBody"
      },
      "post": {
        "tags": [
          "lines"
        ],
        "summary": "add multiple Lines",
        "description": "Deprecated: use ['PUT /v3/baskets/{basketId}/lines'](#operation/saveLinesV3)  <br/>\nUse this endpoint to add multiple lines\n",
        "operationId": "addMultipleLines",
        "deprecated": true,
        "parameters": [
          {
            "$ref": "#/components/parameters/headerSessionToken"
          },
          {
            "$ref": "#/components/parameters/pathBasketId"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/addLinesBody"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkBasketActionResult"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestBasketActionResult"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundBasketActionResult"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerBasketActionResult"
          }
        },
        "security": [
          {
            "TilroyApiKey": [],
            "XApiKey": []
          }
        ],
        "x-codegen-request-body-name": "addLinesBody"
      }
    },
    "/v3/baskets/{basketId}/lines": {
      "put": {
        "tags": [
          "lines"
        ],
        "summary": "create/update multiple Lines",
        "description": "Use this endpoint to save multiple lines at once. <br />\nWhen no lineId is prodvided, then a line will be added. (expect if the same sku is already added with the same price)<br/>\nWhen a lineId is provided, then the line will be updated.\n",
        "operationId": "saveLinesV3",
        "parameters": [
          {
            "$ref": "#/components/parameters/headerSessionToken"
          },
          {
            "$ref": "#/components/parameters/pathBasketId"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/saveLinesV3Body"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkBasketActionResult"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestBasketActionResult"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundBasketActionResult"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerBasketActionResult"
          }
        },
        "security": [
          {
            "TilroyApiKey": [],
            "XApiKey": []
          }
        ],
        "x-codegen-request-body-name": "saveLinesv3"
      }
    },
    "/baskets/{basketId}/lines/delete": {
      "put": {
        "tags": [
          "lines"
        ],
        "summary": "delete all lines",
        "description": "Use this endpoint to delete all lines at once.\n",
        "operationId": "deleteAllLines",
        "parameters": [
          {
            "$ref": "#/components/parameters/headerSessionToken"
          },
          {
            "$ref": "#/components/parameters/pathBasketId"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkBasketActionResult"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestBasketActionResult"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundBasketActionResult"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerBasketActionResult"
          }
        },
        "security": [
          {
            "TilroyApiKey": [],
            "XApiKey": []
          }
        ]
      }
    },
    "/baskets/{basketId}/vouchers": {
      "post": {
        "tags": [
          "vouchers"
        ],
        "summary": "Add a voucher (promo code)",
        "description": "Use this endpoint to add a voucher (promo code) to the basket. The voucher will be added as payment, or added to the basket as a line to be sold.",
        "operationId": "addVoucher",
        "parameters": [
          {
            "$ref": "#/components/parameters/headerSessionToken"
          },
          {
            "$ref": "#/components/parameters/pathBasketId"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/voucher"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/OkBasketActionResult"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestBasketActionResult"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundBasketActionResult"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerBasketActionResult"
          }
        },
        "security": [
          {
            "TilroyApiKey": [],
            "XApiKey": []
          }
        ],
        "x-codegen-request-body-name": "voucher"
      }
    },
    "/baskets/process": {
      "post": {
        "tags": [
          "baskets"
        ],
        "summary": "process a basket (v1)",
        "description": "Process a basket by sending it to the Prices-and-Promotions-Engine, validating vouchers and creating giftvouchers.\n<br /> <br />\n<h2>Lines</h2> The response will contain a convertAction on the line. <br /> The Prices-and-Promotions-Engine can update lines (quantity) or add/delete lines (in case lines of a split eg 2+1).\n<br /> <br />\n<h2>Sku</h2> For sku we expect the full data for the sku:\n<ul> <li>sourceId</li> <li>brand</li> <li>season</li> <li>productGroup</li> <li>gender</li> <li>tags (not in use)</li> </ul>\nIn case of a product unknown in Tilroy sourceId can be provided, but it will not be taken into account.\n<br /> <br />\n<h2>Promotions</h2> On line level the reference to the promotion is provided.\n<br /> <br />\n<h2>Loyalty</h2> Loyalty for this basket expressed in both value and points.\n<br /> <br />\n<h2>Vouchers</h2> Contains all vouchers added by the customer.<br /> Source system provides the code and Tilroy will respond with:\n\n\u2022  type<br /> \u2022  valid<br /> \u2022  amountOpen: amount open on this voucher<br /> \u2022  error: error messages for this voucher\n\nPossible values for type:\n\n\u2022  advance<br /> \u2022  discount<br /> \u2022  unique<br /> \u2022  loyalty<br /> \u2022  giftvoucher<br /> \u2022  creditvoucher\n\nPossible error values:\n\n\u2022  CompletelyUsed: no amount open on the voucher<br /> \u2022  NotSold: voucher is known but is not active yet<br /> \u2022  Cancelled<br /> \u2022  NotActiveYet<br /> \u2022  Expired\n<br /> <br />\n<h2>Gift voucher</h2> Source system will provide the amount and Tilroy will respond with:\n\n\u2022  reference<br /> \u2022  webcode\n\nOnce Tilroy assigned reference and webcode in next basket JSON\u2019s we expect the reference and webcode to be filled or Tilroy will generate a new one.",
        "operationId": "processBasket",
        "requestBody": {
          "$ref": "#/components/requestBodies/basket"
        },
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProcessedBasket"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "TilroyApiKey": []
          }
        ],
        "x-codegen-request-body-name": "basket"
      }
    },
    "/deliveryservices/getservices": {
      "post": {
        "tags": [
          "order-metadata"
        ],
        "summary": "get delivery services",
        "description": "Get all possible delivery services for the given payload.<br /><br />\n**Payload** <br /> You either need to provide enough data for Tilroy to be able to determine the delivery services ('address', 'priceTotal', 'products' & 'shop') or provide the id of an entity where Tilroy can fetch those properties themselves ('orderId', 'quotationId', 'basketId').<br />\nFor 'sku' and 'shop' either fill in the 'tilroyId' or the 'sourceId' (you could use 'number' for shop as well). <br /><br />\n**Response** <br /> 'productDelivery' and '-Service' are nullable, in case when either is not available or implemented.<br /> 'price' inside these objects is also nullable for the same reasons.",
        "operationId": "getDeliveryServices",
        "requestBody": {
          "$ref": "#/components/requestBodies/deliverServicesCriteria"
        },
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DeliveryService"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "deprecated": true,
        "security": [
          {
            "TilroyApiKey": [],
            "XApiKey": []
          }
        ],
        "x-codegen-request-body-name": "payload"
      }
    },
    "/deliveryservices/getdates": {
      "post": {
        "tags": [
          "order-metadata"
        ],
        "summary": "get all delivery dates",
        "description": "The service will return all dates in the given 'monthRequested' or in 'dateRange'.<br /> When dateRange property is used, monthRequested is no longer required (and is ignored)<br /><br />\n**Payload** <br /> You either need to provide enough data for Tilroy to be able to determine the delivery services ('address', 'priceTotal', 'products' & 'shop') or provide the id of an entity where Tilroy can fetch those properties themselves ('orderId', 'quotationId', 'basketId').<br />\nFor 'sku' and 'shop' either fill in the 'tilroyId' or the 'sourceId' (you could use 'number' for shop as well).<br />\nIn 'deliveryService', 'reference' and 'tilroyId' refer to the same property. TilroyId is deprecated but still supported. <br /><br />\n**Response** <br /> The dates returned are in ISOdate format, but do not regard your locale. They will always be in the 0-time offset ('Z').<br />\n'price' is nullable, depending on the implementation.",
        "operationId": "getDeliveryDates",
        "parameters": [
          {
            "$ref": "#/components/parameters/queryFields"
          }
        ],
        "requestBody": {
          "description": "The payload containing all order data to base the response on.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrderDatesCriteria"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeliveryDatesResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "deprecated": true,
        "security": [
          {
            "TilroyApiKey": [],
            "XApiKey": []
          }
        ],
        "x-codegen-request-body-name": "body"
      }
    },
    "/deliveryservices/getexpecteddeliverydate": {
      "post": {
        "tags": [
          "order-metadata"
        ],
        "summary": "get expected delivery date",
        "description": "Depending on the integration for the tenant, this will either yield no response body (no integration) or the one defined here.",
        "operationId": "getExpectedDeliveryDate",
        "requestBody": {
          "description": "The payload containing all order data to base the response on.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExpectedDeliveryDateCriteria"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExpectedDateResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "deprecated": true,
        "security": [
          {
            "TilroyApiKey": [],
            "XApiKey": []
          }
        ],
        "x-codegen-request-body-name": "body"
      }
    },
    "/v1/abandonedcart": {
      "get": {
        "tags": [
          "abandonedcarts"
        ],
        "summary": "get a basketId for an abandoned cart",
        "description": "Use this endpoint to retrieve a basketId for an abandoned cart",
        "operationId": "getAbandonedCart",
        "parameters": [
          {
            "$ref": "#/components/parameters/customerId"
          },
          {
            "$ref": "#/components/parameters/customerSourceId"
          },
          {
            "$ref": "#/components/parameters/shopId"
          },
          {
            "$ref": "#/components/parameters/shopNumber"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AbandonedCartResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "TilroyApiKey": [],
            "XApiKey": []
          }
        ]
      }
    },
    "/sessions": {
      "post": {
        "tags": [
          "session"
        ],
        "summary": "creates a session",
        "description": "Creates a session to indentify the context: who is creating/updating baskets for what shop, language, channel, ...\n<p>The response will contain a session header that should be used on all request, to identify the context.</p>\n",
        "operationId": "createSession",
        "requestBody": {
          "description": "The payload containing all token request data to base the response on.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TokenRequest"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "ok",
            "headers": {
              "token": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {}
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "TilroyApiKey": [],
            "XApiKey": []
          }
        ],
        "x-codegen-request-body-name": "body"
      }
    },
    "/import/baskets": {
      "post": {
        "tags": [
          "import"
        ],
        "summary": "Imports a basket (asynchronous)",
        "description": "Imports a basket. This operation is asynchronous.",
        "operationId": "importBasket",
        "requestBody": {
          "description": "The payload containing all basket data to import",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ImportBasket"
              }
            }
          },
          "required": false
        },
        "responses": {
          "202": {
            "description": "ok",
            "content": {}
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "TilroyApiKey": [],
            "XApiKey": []
          }
        ],
        "x-codegen-request-body-name": "body"
      }
    },
    "/loglevel": {
      "post": {
        "tags": [
          "logging"
        ],
        "summary": "Set the loglevel for the service.",
        "operationId": "setLogLevel",
        "requestBody": {
          "$ref": "#/components/requestBodies/loglevel"
        },
        "responses": {
          "200": {
            "description": "ok",
            "content": {}
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "security": [
          {
            "TilroyApiKey": [],
            "XApiKey": []
          }
        ],
        "x-codegen-request-body-name": "loglevel"
      }
    }
  },
  "components": {
    "schemas": {
      "AddressCriteria": {
        "type": "object",
        "properties": {
          "postalCode": {
            "type": "string",
            "example": "2630"
          },
          "country": {
            "$ref": "#/components/schemas/Country"
          }
        }
      },
      "BaseAddress": {
        "allOf": [
          {
            "type": "object",
            "properties": {
              "address1": {
                "type": "string",
                "example": "Dijkstraat"
              },
              "address2": {
                "type": "string",
                "example": ""
              },
              "houseNumber": {
                "type": "string",
                "example": "6"
              },
              "box": {
                "type": "string",
                "example": ""
              },
              "city": {
                "type": "string",
                "example": "Aartselaar"
              }
            }
          },
          {
            "$ref": "#/components/schemas/AddressCriteria"
          }
        ]
      },
      "DeliveryAddress": {
        "allOf": [
          {
            "type": "object",
            "properties": {
              "tilroyId": {
                "type": "string",
                "description": "address tilroyId",
                "example": "1"
              },
              "name": {
                "type": "string",
                "example": "null"
              }
            }
          },
          {
            "$ref": "#/components/schemas/BaseAddress"
          }
        ]
      },
      "Basket": {
        "required": [
          "externalLoyalty",
          "externalLoyaltyReference",
          "lines",
          "shop",
          "sourceId"
        ],
        "type": "object",
        "properties": {
          "sourceId": {
            "type": "string",
            "description": "Reference of the basket in the source system"
          },
          "customer": {
            "type": "object",
            "allOf": [
              {
                "$ref": "#/components/schemas/Customer"
              }
            ]
          },
          "languageCode": {
            "type": "object",
            "description": "language of the basket (NL, DE, EN, FR)"
          },
          "lines": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Line"
            }
          },
          "vouchers": {
            "type": "array",
            "description": "Vouchers added to the basket by the customer",
            "items": {
              "$ref": "#/components/schemas/Voucher"
            }
          },
          "giftVouchers": {
            "type": "array",
            "description": "Sale of gift voucher",
            "items": {
              "$ref": "#/components/schemas/GiftVoucher"
            }
          },
          "shop": {
            "type": "object",
            "allOf": [
              {
                "$ref": "#/components/schemas/Shop"
              }
            ]
          },
          "externalLoyalty": {
            "type": "boolean",
            "description": "Loyalty for this basket is external or not. When a Gezinsbond card is added, for example, externalLoyalty should be true."
          },
          "externalLoyaltyReference": {
            "type": "string",
            "description": "Reference for the external loyalty. Basket API will not perform validation in a 3rd party system for this reference."
          }
        }
      },
      "BasketActionResult": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Error"
          },
          {
            "type": "object",
            "properties": {
              "basket": {
                "$ref": "#/components/schemas/Basket_v2"
              }
            }
          }
        ]
      },
      "BasketActionResultPaymentProvider": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Error"
          },
          {
            "type": "object",
            "properties": {
              "basket": {
                "type": "object",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Basket_v2"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "paymentProviderBody": {
                        "$ref": "#/components/schemas/PaymentProviderBody"
                      }
                    }
                  }
                ]
              }
            }
          }
        ]
      },
      "AbandonedCartResult": {
        "type": "object",
        "properties": {
          "basketId": {
            "type": "string"
          }
        }
      },
      "Basket_v2": {
        "required": [
          "lines",
          "shop"
        ],
        "type": "object",
        "properties": {
          "tilroyId": {
            "type": "string",
            "example": "53221026"
          },
          "shop": {
            "$ref": "#/components/schemas/Shop"
          },
          "language": {
            "$ref": "#/components/schemas/Language"
          },
          "customer": {
            "$ref": "#/components/schemas/Customer_v2"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          },
          "delivery": {
            "$ref": "#/components/schemas/Delivery"
          },
          "totalAmounts": {
            "type": "object",
            "properties": {
              "gross": {
                "type": "number",
                "example": -140.95
              },
              "discount": {
                "type": "number",
                "example": -14.09
              },
              "paid": {
                "type": "number",
                "example": -126.86
              },
              "exclVAT": {
                "type": "number",
                "example": -104.843
              },
              "inclVAT": {
                "type": "number",
                "example": -126.86
              }
            }
          },
          "lines": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BasketLine_v2"
            }
          },
          "payments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Payment"
            }
          },
          "vatLines": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/VatLine"
            }
          },
          "messages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BasketMessage"
            }
          },
          "order": {
            "type": "object",
            "properties": {
              "number": {
                "type": "string",
                "example": "3659854"
              }
            }
          },
          "pricesAndPromotions": {
            "$ref": "#/components/schemas/PricesAndPromotions"
          },
          "additionalInfo": {
            "type": "string",
            "example": "some info"
          },
          "externalReference": {
            "type": "string",
            "example": "some external reference"
          },
          "internalReference": {
            "type": "string",
            "example": "some internal reference"
          },
          "invoice": {
            "type": "boolean"
          },
          "shopOverride": {
            "type": "object",
            "allOf": [
              {
                "$ref": "#/components/schemas/Shop"
              },
              {
                "type": "object",
                "properties": {
                  "moneyLocation": {
                    "type": "object",
                    "properties": {
                      "tilroyId": {
                        "type": "string"
                      },
                      "code": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            ]
          },
          "assignee": {
            "$ref": "#/components/schemas/Assignee"
          },
          "timeStampCreated": {
            "type": "string",
            "format": "date-time"
          },
          "idSale": {
            "type": "string"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "DiscountReason": {
        "type": "object",
        "properties": {
          "tilroyId": {
            "type": "string",
            "example": "18"
          },
          "code": {
            "type": "string",
            "example": "Customer Pricing"
          }
        }
      },
      "DiscountReason_description": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/DiscountReason"
          },
          {
            "type": "object",
            "properties": {
              "description": {
                "type": "string",
                "description": "Overrides the discount reason description/code in the basket line"
              }
            }
          }
        ]
      },
      "BasketLine_v2": {
        "type": "object",
        "properties": {
          "lineId": {
            "type": "string",
            "example": "1_P"
          },
          "type": {
            "$ref": "#/components/schemas/LineType"
          },
          "description": {
            "type": "string",
            "example": "korte broek Rood M"
          },
          "qty": {
            "type": "number",
            "example": -1
          },
          "prices": {
            "type": "object",
            "properties": {
              "standard": {
                "type": "number",
                "example": 140.95
              },
              "promo": {
                "type": "number",
                "example": 0
              },
              "sell": {
                "type": "number",
                "example": 0
              }
            }
          },
          "combinationId": {
            "type": "string",
            "description": "An id to make sure certain lines stay combined and prevent reorganization of these lines."
          },
          "orderInfo": {
            "$ref": "#/components/schemas/OrderInfo"
          },
          "ppEngineInfo": {
            "type": "object",
            "properties": {
              "action": {
                "type": "object",
                "properties": {
                  "tilroyId": {
                    "type": "string",
                    "example": "null"
                  },
                  "description": {
                    "type": "string",
                    "example": "null"
                  }
                }
              }
            }
          },
          "discountReason": {
            "$ref": "#/components/schemas/DiscountReason"
          },
          "product": {
            "$ref": "#/components/schemas/Product"
          },
          "paymentRequestId": {
            "type": "string",
            "description": "The id of the payment request."
          },
          "collectMethod": {
            "$ref": "#/components/schemas/CollectMethod"
          },
          "dispatchMethod": {
            "$ref": "#/components/schemas/DispatchMethod"
          },
          "vatPercentage": {
            "type": "number"
          },
          "isUsed": {
            "type": "boolean",
            "description": "only show in voucher lines (type code = \"V\")"
          }
        }
      },
      "DispatchMethod": {
        "type": "object",
        "properties": {
          "tilroyId": {
            "type": "number",
            "example": 22
          },
          "code": {
            "type": "string",
            "example": "GLS"
          }
        }
      },
      "BasketMessage": {
        "type": "object",
        "properties": {
          "tilroyId": {
            "type": "number",
            "example": 1
          },
          "text": {
            "type": "string",
            "example": "test popup"
          },
          "source": {
            "type": "string",
            "example": "ppengine.popup"
          },
          "isRead": {
            "type": "boolean"
          },
          "showImmediate": {
            "type": "boolean"
          },
          "timestamp": {
            "type": "string",
            "example": "2019-01-07T09:16:28.609Z"
          },
          "timestampCreated": {
            "type": "string",
            "example": "2019-01-07T09:15:45.000Z"
          }
        }
      },
      "Channel": {
        "type": "object",
        "properties": {
          "tilroyId": {
            "type": "number",
            "example": 1
          },
          "code": {
            "maxLength": 20,
            "type": "string",
            "example": "TILL",
            "enum": [
              "TILL",
              "ECOM"
            ]
          }
        }
      },
      "Till": {
        "type": "object",
        "properties": {
          "tilroyId": {
            "type": "string"
          },
          "number": {
            "type": "number"
          },
          "sourceId": {
            "type": "string"
          }
        }
      },
      "CollectMethod": {
        "type": "object",
        "properties": {
          "tilroyId": {
            "type": "number",
            "example": 2
          },
          "code": {
            "type": "string",
            "enum": [
              "home_delivery",
              "click_collect"
            ]
          }
        }
      },
      "LinkedObject": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "example": "deliveryservicechanged",
            "deprecated": true
          },
          "referenceType": {
            "type": "string",
            "example": "deliveryservicechanged"
          },
          "reference": {
            "type": "string",
            "example": "6131e32b640674752bd78891"
          },
          "barcode": {
            "type": "string"
          },
          "displayValue": {
            "type": "string"
          }
        }
      },
      "Colour": {
        "type": "object",
        "properties": {
          "value": {
            "type": "string",
            "example": "Rood"
          },
          "sku": {
            "type": "object",
            "allOf": [
              {
                "$ref": "#/components/schemas/Sku_Ids"
              },
              {
                "type": "object",
                "properties": {
                  "description": {
                    "type": "string",
                    "example": "korte broek Rood M"
                  }
                }
              }
            ]
          },
          "season": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "example": "2021-PS-12"
              }
            }
          }
        }
      },
      "Country": {
        "required": [
          "code"
        ],
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "example": "BE"
          }
        }
      },
      "Customer": {
        "required": [
          "sourceId"
        ],
        "type": "object",
        "properties": {
          "sourceId": {
            "type": "string",
            "description": "Reference of the customer in the source system"
          }
        }
      },
      "Customer_Ids": {
        "type": "object",
        "properties": {
          "tilroyId": {
            "type": "number"
          },
          "sourceId": {
            "maxLength": 50,
            "type": "string"
          },
          "anonymous": {
            "type": "boolean",
            "description": "is this an anonymouse checkout?",
            "default": false
          }
        }
      },
      "Customer_Update": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Customer_Ids"
          },
          {
            "type": "object",
            "properties": {
              "options": {
                "type": "object",
                "properties": {
                  "remainExact": {
                    "type": "boolean",
                    "description": "keep the current basket as is. Do not add collect lines, annulations, etc.",
                    "default": true
                  }
                }
              },
              "needInvoice": {
                "type": "boolean",
                "description": "set and invoice for a customer"
              }
            }
          }
        ]
      },
      "Customer_v2": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Customer_Ids"
          },
          {
            "type": "object",
            "properties": {
              "firstName": {
                "type": "string",
                "example": "John"
              },
              "surName": {
                "type": "string",
                "example": "Doe"
              },
              "email": {
                "type": "string",
                "example": "john.doe@mail.com"
              },
              "address": {
                "$ref": "#/components/schemas/BaseAddress"
              }
            }
          }
        ]
      },
      "Delivery": {
        "type": "object",
        "properties": {
          "address": {
            "$ref": "#/components/schemas/DeliveryAddress"
          },
          "date": {
            "type": "string",
            "format": "date-time"
          },
          "expectedDeliveryDate": {
            "type": "string",
            "format": "date-time"
          },
          "deliveryAllowedFrom": {
            "type": "string",
            "description": "Date determined by customer that states a preferred start date for delivery. Not related to 'delivery.date'.",
            "format": "date-time"
          },
          "deliveryService": {
            "type": "object",
            "properties": {
              "icon": {
                "type": "string",
                "example": "standaard.jpg"
              },
              "reference": {
                "type": "string",
                "example": "1"
              },
              "type": {
                "type": "string",
                "example": "2"
              }
            }
          }
        }
      },
      "DeliveryService": {
        "type": "object",
        "properties": {
          "description": {
            "type": "string",
            "example": "Delivery on ground floor."
          },
          "productDelivery": {
            "$ref": "#/components/schemas/DeliveryServiceProduct"
          },
          "productService": {
            "$ref": "#/components/schemas/DeliveryServiceProduct"
          },
          "reference": {
            "type": "string",
            "example": "3"
          },
          "title": {
            "type": "string",
            "example": "Standard"
          },
          "type": {
            "type": "string",
            "example": "Standard"
          },
          "URL": {
            "type": "string",
            "example": "https://example.com"
          }
        }
      },
      "DeliveryServiceProduct": {
        "type": "object",
        "properties": {
          "price": {
            "type": "number",
            "example": 2.99
          },
          "sku": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "example": "456812"
              },
              "tilroyId": {
                "type": "string",
                "example": "456812"
              },
              "sourceId": {
                "type": "string",
                "example": "source-456812"
              }
            }
          }
        }
      },
      "DeliveryDate": {
        "type": "object",
        "properties": {
          "date": {
            "type": "string",
            "format": "date-time"
          },
          "deliveryPossible": {
            "type": "boolean"
          },
          "isLastPossibleDate": {
            "type": "boolean"
          },
          "price": {
            "type": "number",
            "format": "float",
            "example": 5.99
          }
        }
      },
      "DeliveryDatesResult": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/DeliveryDate"
        }
      },
      "ExpectedDateResponse": {
        "type": "object",
        "properties": {
          "expectedDeliveryDate": {
            "type": "string",
            "example": "2022-01-01"
          },
          "skus": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ExpectedDateSku"
            }
          }
        }
      },
      "ExpectedDateSku": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "789"
          },
          "noLongerDeliverable": {
            "type": "boolean",
            "example": false
          },
          "shopStock": {
            "$ref": "#/components/schemas/Shop"
          }
        }
      },
      "DeliverServicesCriteria": {
        "allOf": [
          {
            "$ref": "#/components/schemas/OrderCriteria"
          },
          {
            "type": "object",
            "properties": {
              "priceTotal": {
                "type": "number",
                "description": "total amount of the order, including VAT",
                "example": 25.98
              },
              "orderId": {
                "type": "string",
                "description": "Tilroy id of an order",
                "example": "1312201"
              },
              "quotationId": {
                "type": "string",
                "description": "Tilroy id of a quotation",
                "example": 1072019.11
              },
              "basketId": {
                "type": "string",
                "description": "Tilroy id of a transaction (basket)",
                "example": "1220345"
              }
            }
          }
        ]
      },
      "ProductCriteria": {
        "required": [
          "price",
          "quantity",
          "sku"
        ],
        "type": "object",
        "properties": {
          "price": {
            "type": "number",
            "description": "total amount of the order, including VAT",
            "example": 12.99
          },
          "quantity": {
            "type": "number",
            "example": 2
          },
          "sku": {
            "$ref": "#/components/schemas/Sku_Ids"
          }
        }
      },
      "UpdateLineBody": {
        "required": [
          "qty"
        ],
        "type": "object",
        "properties": {
          "qty": {
            "type": "number",
            "description": "must be a positive number"
          },
          "prices": {
            "$ref": "#/components/schemas/Prices_discountReason"
          },
          "descriptionOverride": {
            "type": "string"
          },
          "sellUnique": {
            "type": "boolean"
          },
          "linkedObject": {
            "$ref": "#/components/schemas/LinkedObject"
          }
        }
      },
      "Prices": {
        "type": "object",
        "properties": {
          "sell": {
            "type": "number"
          },
          "standard": {
            "type": "number"
          },
          "manual": {
            "type": "number"
          }
        }
      },
      "PricesV3": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Prices"
          },
          {
            "type": "object",
            "properties": {
              "promo": {
                "type": "number"
              }
            }
          }
        ]
      },
      "Prices_discountReason": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Prices"
          },
          {
            "type": "object",
            "properties": {
              "discountReason": {
                "$ref": "#/components/schemas/DiscountReason_description"
              }
            }
          }
        ]
      },
      "TagsBody": {
        "type": "object",
        "properties": {
          "tags": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "tag1"
            }
          }
        }
      },
      "ParkComment": {
        "type": "object",
        "properties": {
          "comment": {
            "type": "string"
          }
        }
      },
      "AdditionalInfo": {
        "type": "object",
        "properties": {
          "additionalInfo": {
            "type": "string",
            "example": "Some additional info"
          }
        }
      },
      "UpdateMultipleLinesBody": {
        "type": "array",
        "items": {
          "required": [
            "lineId"
          ],
          "type": "object",
          "properties": {
            "lineId": {
              "type": "string"
            },
            "dispatchMethod": {
              "$ref": "#/components/schemas/DispatchMethod"
            },
            "shipment": {
              "$ref": "#/components/schemas/Shipment"
            },
            "collectMethod": {
              "$ref": "#/components/schemas/CollectMethod"
            },
            "deliveryDate": {
              "type": "string",
              "format": "date-time"
            },
            "ean": {
              "type": "string"
            },
            "quantity": {
              "type": "number"
            },
            "shopStock": {
              "$ref": "#/components/schemas/ShopUpdate"
            },
            "shopHandling": {
              "$ref": "#/components/schemas/ShopUpdate"
            }
          }
        }
      },
      "SaveLinesV3Body": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "lineId": {
              "type": "string",
              "description": "required for updating a line"
            },
            "qty": {
              "type": "number"
            },
            "description": {
              "type": "string",
              "description": "can be used to add a custom description to the line"
            },
            "prices": {
              "$ref": "#/components/schemas/PricesV3"
            },
            "orderInfo": {
              "type": "object",
              "properties": {
                "shopStock": {
                  "$ref": "#/components/schemas/ShopUpdate"
                },
                "shopHandling": {
                  "$ref": "#/components/schemas/ShopUpdate"
                }
              }
            },
            "discountReason": {
              "$ref": "#/components/schemas/DiscountReason"
            },
            "sku": {
              "description": "required when creating a line, to identify the product",
              "allOf": [
                {
                  "$ref": "#/components/schemas/Sku_Ids"
                },
                {
                  "type": "object",
                  "properties": {
                    "ean": {
                      "type": "string"
                    },
                    "serial": {
                      "type": "string"
                    }
                  }
                }
              ]
            },
            "sellUnique": {
              "type": "boolean"
            },
            "linkedObject": {
              "type": "object",
              "properties": {
                "referenceType": {
                  "type": "string",
                  "example": "deliveryservicechanged"
                },
                "reference": {
                  "type": "string",
                  "example": "6131e32b640674752bd78891"
                },
                "barcode": {
                  "type": "string"
                },
                "displayValue": {
                  "type": "string"
                }
              }
            },
            "collectMethod": {
              "$ref": "#/components/schemas/CollectMethod"
            },
            "dispatchMethod": {
              "$ref": "#/components/schemas/DispatchMethod"
            },
            "shipment": {
              "$ref": "#/components/schemas/Shipment"
            },
            "delivery": {
              "type": "object",
              "properties": {
                "date": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            }
          }
        }
      },
      "Shipment": {
        "type": "object",
        "properties": {
          "expiryDate": {
            "type": "string",
            "format": "date-time"
          },
          "tilroyId": {
            "type": "string"
          },
          "reference": {
            "type": "string"
          }
        }
      },
      "addLinesBody": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "sku": {
              "type": "object",
              "allOf": [
                {
                  "$ref": "#/components/schemas/Sku_Ids"
                },
                {
                  "type": "object",
                  "properties": {
                    "ean": {
                      "type": "string"
                    }
                  }
                }
              ]
            },
            "linkedObject": {
              "$ref": "#/components/schemas/LinkedObject"
            },
            "quantity": {
              "type": "number"
            },
            "shopStock": {
              "$ref": "#/components/schemas/ShopUpdate"
            },
            "shopHandling": {
              "$ref": "#/components/schemas/ShopUpdate"
            },
            "collectMethod": {
              "$ref": "#/components/schemas/CollectMethod"
            }
          }
        }
      },
      "GiftVoucher": {
        "required": [
          "amount",
          "barcode"
        ],
        "type": "object",
        "properties": {
          "sourceId": {
            "type": "string",
            "description": "DEPRECATED: use barcode instead"
          },
          "barcode": {
            "type": "string",
            "description": "Barcode of the gift voucher in the source system. For new gift voucher the barcode and amount is provided by the source system. Use the VoucherAPI to create giftvouchers in status new, to use here."
          },
          "amount": {
            "type": "number",
            "description": "amount of the gift voucher"
          }
        }
      },
      "Line": {
        "required": [
          "promoPrice",
          "quantity",
          "sourceId",
          "standardPrice"
        ],
        "type": "object",
        "properties": {
          "combinationId": {
            "type": "string",
            "description": "An id to make sure certain lines stay combined and prevent reorganization of these lines."
          },
          "sourceId": {
            "type": "string",
            "description": "Reference of the basket line"
          },
          "quantity": {
            "type": "number",
            "description": "Line multiplier. Can be updated when lines are split or merged."
          },
          "standardPrice": {
            "type": "number",
            "description": "standard price of the sku"
          },
          "promoPrice": {
            "type": "number",
            "description": "promo price of the sku"
          },
          "sku": {
            "$ref": "#/components/schemas/Sku"
          }
        }
      },
      "LineType": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "example": "P",
            "enum": [
              "A",
              "P",
              "G",
              "T",
              "R",
              "W"
            ]
          }
        }
      },
      "Loyalty": {
        "required": [
          "actionId",
          "amount",
          "isExternal",
          "points",
          "returnIncentiveId"
        ],
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "loyalty for this basket in amount"
          },
          "points": {
            "type": "number",
            "description": "loyalty for this basket in points"
          },
          "isExternal": {
            "type": "boolean",
            "description": "loyalty is external or not"
          },
          "returnIncentiveId": {
            "type": "string",
            "description": "the returnIncentiveId for this loyalty (source of the points)"
          },
          "actionId": {
            "type": "string",
            "description": "the actionId for this loyalty (source of the points)"
          }
        }
      },
      "OrderCriteria": {
        "required": [
          "address",
          "products",
          "shop"
        ],
        "type": "object",
        "properties": {
          "address": {
            "$ref": "#/components/schemas/AddressCriteria"
          },
          "language": {
            "$ref": "#/components/schemas/Language"
          },
          "products": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProductCriteria"
            }
          },
          "shop": {
            "$ref": "#/components/schemas/Shop"
          }
        }
      },
      "PaymentProviderBody": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "example": "mollie"
          },
          "reference": {
            "type": "string",
            "example": "123456"
          }
        }
      },
      "Payment": {
        "required": [
          "type"
        ],
        "type": "object",
        "properties": {
          "tilroyId": {
            "type": "string",
            "example": "1"
          },
          "type": {
            "$ref": "#/components/schemas/PaymentType"
          },
          "amount": {
            "type": "number",
            "example": -126.85
          },
          "reference": {
            "type": "string",
            "example": "365987"
          },
          "webCode": {
            "type": "string",
            "example": "X2AF39"
          }
        }
      },
      "PaymentRequest": {
        "required": [
          "amount"
        ],
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "example": 126.85
          }
        }
      },
      "PricesAndPromotions": {
        "required": [
          "disabledEngine"
        ],
        "type": "object",
        "properties": {
          "disabledEngine": {
            "type": "boolean",
            "example": false,
            "default": false
          }
        }
      },
      "UpdateBasketBody": {
        "type": "object",
        "properties": {
          "internalReference": {
            "type": "string"
          },
          "externalReference": {
            "type": "string"
          },
          "additionalInfo": {
            "type": "string"
          },
          "shopOverride": {
            "$ref": "#/components/schemas/ShopUpdate"
          },
          "assignee": {
            "$ref": "#/components/schemas/Assignee"
          },
          "orderNumber": {
            "type": "string"
          }
        }
      },
      "CreateBasketBody": {
        "type": "object",
        "properties": {
          "assignee": {
            "$ref": "#/components/schemas/Assignee"
          }
        }
      },
      "TokenRequest": {
        "type": "object",
        "properties": {
          "channel": {
            "$ref": "#/components/schemas/Channel"
          },
          "country": {
            "$ref": "#/components/schemas/Country"
          },
          "language": {
            "$ref": "#/components/schemas/Language"
          },
          "shop": {
            "$ref": "#/components/schemas/Shop"
          },
          "user": {
            "$ref": "#/components/schemas/User"
          }
        }
      },
      "ImportBasket": {
        "type": "object",
        "properties": {
          "shop": {
            "type": "object",
            "properties": {
              "number": {
                "type": "integer",
                "example": 26
              }
            }
          },
          "customer": {
            "type": "object",
            "properties": {
              "sourceId": {
                "type": "string",
                "example": "655537"
              },
              "code": {
                "type": "string",
                "example": "1002125"
              },
              "email": {
                "type": "string",
                "example": "jorn@tilroy.com"
              }
            }
          },
          "lines": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "lineId": {
                  "type": "string",
                  "example": "1"
                },
                "product": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "HOC.OUT.000001"
                    },
                    "colour": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "Blauw/Wit"
                        },
                        "sku": {
                          "type": "object",
                          "properties": {
                            "sourceId": {
                              "type": "string",
                              "example": "onboarding_s20181204-130733_1"
                            },
                            "ean": {
                              "type": "string",
                              "example": "2000000587424"
                            },
                            "size": {
                              "type": "object",
                              "properties": {
                                "code": {
                                  "type": "string",
                                  "example": "34''"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "description": {
                  "type": "string",
                  "example": "Hocky stick 1"
                },
                "qty": {
                  "type": "integer",
                  "example": 1
                },
                "prices": {
                  "type": "object",
                  "properties": {
                    "standard": {
                      "type": "number",
                      "format": "float",
                      "example": 51.2
                    },
                    "sell": {
                      "type": "number",
                      "format": "float",
                      "example": 51.2
                    }
                  }
                },
                "type": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "P"
                    }
                  }
                }
              }
            }
          },
          "payments": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "paynl_bancontact"
                    }
                  }
                }
              }
            }
          },
          "returnReason": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "example": "other"
              }
            }
          },
          "invoice": {
            "type": "boolean",
            "example": true
          },
          "eTicket": {
            "type": "boolean",
            "example": true
          },
          "additionalInfo": {
            "type": "string",
            "example": "Additional Info"
          }
        }
      },
      "SellPriceRequest": {
        "type": "object",
        "properties": {
          "basketId": {
            "type": "string"
          },
          "lineId": {
            "type": "string"
          },
          "manualPrice": {
            "type": "number"
          }
        }
      },
      "OrderDatesCriteria": {
        "allOf": [
          {
            "$ref": "#/components/schemas/OrderCriteria"
          },
          {
            "type": "object",
            "properties": {
              "deliveryService": {
                "type": "object",
                "properties": {
                  "reference": {
                    "type": "string",
                    "example": "1"
                  },
                  "tilroyId": {
                    "type": "string",
                    "example": "1"
                  },
                  "type": {
                    "type": "string",
                    "example": "2"
                  }
                }
              },
              "monthRequested": {
                "type": "string",
                "description": "must be in format of YYYYMM",
                "example": "202011"
              },
              "dateRange": {
                "type": "object",
                "properties": {
                  "from": {
                    "type": "string",
                    "example": "2023-10-01"
                  },
                  "to": {
                    "type": "string",
                    "example": "2023-12-30"
                  }
                }
              }
            }
          }
        ]
      },
      "ExpectedDeliveryDateCriteria": {
        "type": "object",
        "properties": {
          "orderId": {
            "type": "string",
            "description": "Tilroy id of an order",
            "example": "1312201"
          },
          "quotationId": {
            "type": "string",
            "description": "Tilroy id of a quotation",
            "example": 1072019.11
          },
          "basketId": {
            "type": "string",
            "description": "Tilroy id of a transaction (basket)",
            "example": "1220345"
          },
          "deliveryAllowedFrom": {
            "type": "string",
            "example": "2021-11-01"
          }
        }
      },
      "OrderInfo": {
        "required": [
          "shopHandling",
          "shopStock"
        ],
        "type": "object",
        "properties": {
          "tilroyId": {
            "type": "string",
            "description": "Tilroy id of an order (only used in return, not for updating a basket line)",
            "example": "1312201"
          },
          "lineId": {
            "type": "string",
            "description": "Tilroy id of an order line (only used in return, not for updating a basket line)",
            "example": 13122011
          },
          "shopStock": {
            "$ref": "#/components/schemas/Shop"
          },
          "shopHandling": {
            "$ref": "#/components/schemas/Shop"
          },
          "status": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "description": "Status of the order line: C = Cancelled, D = Dispatched, I = In transfer, L = Finished, M = Click&Collect confirmed, N = Unreserved, Q = Requested, R = Reserved, S = Sold, X = Not available",
                "enum": [
                  "C",
                  "D",
                  "I",
                  "L",
                  "M",
                  "N",
                  "Q",
                  "R",
                  "S",
                  "X"
                ]
              }
            }
          }
        }
      },
      "PaymentType": {
        "type": "object",
        "properties": {
          "tilroyId": {
            "type": "number",
            "example": 165
          },
          "sourceId": {
            "type": "string",
            "example": "1365"
          },
          "code": {
            "type": "string",
            "example": "Maestro"
          }
        }
      },
      "ProcessedBasket": {
        "type": "object",
        "properties": {
          "sourceId": {
            "type": "string",
            "description": "Reference of the basket in the source system"
          },
          "customer": {
            "type": "object",
            "allOf": [
              {
                "$ref": "#/components/schemas/Customer"
              }
            ]
          },
          "lines": {
            "type": "array",
            "items": {
              "type": "object",
              "allOf": [
                {
                  "$ref": "#/components/schemas/Line"
                },
                {
                  "type": "object",
                  "properties": {
                    "convertAction": {
                      "type": "string",
                      "description": "Based on prices and promotions basket lines can be updated or inserted and deleted in case of a buy and get that splits the lines (eg 2+1). N = None, U = Update, I = Insert, D = Delete"
                    },
                    "sellPrice": {
                      "type": "string",
                      "description": "sell price of the sku, includes discount in case of promotion"
                    },
                    "promotion": {
                      "type": "object",
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/Promotion"
                        }
                      ]
                    }
                  }
                }
              ]
            }
          },
          "loyalty": {
            "type": "object",
            "allOf": [
              {
                "$ref": "#/components/schemas/Loyalty"
              }
            ]
          },
          "vouchers": {
            "type": "array",
            "description": "Vouchers added to the basket by the customer",
            "items": {
              "type": "object",
              "allOf": [
                {
                  "$ref": "#/components/schemas/Voucher"
                },
                {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "Indicates the type of the voucher (promo, gift, credit, loyalty)"
                    },
                    "amountOpen": {
                      "type": "string",
                      "description": "Amount still available on this voucher."
                    },
                    "valid": {
                      "type": "boolean",
                      "description": "Indicates of the voucher is valid"
                    },
                    "error": {
                      "type": "object",
                      "description": "error message in case voucher is not valid",
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/VoucherError"
                        }
                      ]
                    }
                  }
                }
              ]
            }
          },
          "giftVouchers": {
            "type": "array",
            "description": "Sale of gift voucher. Tilroy will respond with an assigned reference barcode and webcode.",
            "items": {
              "type": "object",
              "allOf": [
                {
                  "$ref": "#/components/schemas/GiftVoucher"
                },
                {
                  "type": "object",
                  "properties": {
                    "reference": {
                      "type": "string",
                      "description": "reference/barcode for the gift voucher"
                    },
                    "webcode": {
                      "type": "string",
                      "description": "webcode of the gift voucher"
                    }
                  }
                }
              ]
            }
          },
          "shop": {
            "type": "object",
            "allOf": [
              {
                "$ref": "#/components/schemas/Shop"
              }
            ]
          },
          "popups": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "Product": {
        "type": "object",
        "properties": {
          "tilroyId": {
            "type": "number",
            "example": 4730038
          },
          "sourceId": {
            "maxLength": 50,
            "type": "string",
            "example": "onboarding_p20200716-082728"
          },
          "code": {
            "type": "string",
            "example": "SF160"
          },
          "colour": {
            "$ref": "#/components/schemas/Colour"
          },
          "linkedObject": {
            "$ref": "#/components/schemas/LinkedObject"
          },
          "gender": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "example": "dames"
              }
            }
          },
          "brand": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "example": "Selected Femme"
              }
            }
          },
          "groupLevel": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "example": "broeken"
              }
            }
          },
          "descriptions": {
            "type": "object",
            "properties": {
              "webDescription": {
                "type": "string",
                "example": "korte broek"
              }
            }
          }
        }
      },
      "Promotion": {
        "type": "object",
        "properties": {
          "actionId": {
            "type": "string",
            "description": "Reference to the action applied to this line",
            "example": "125"
          },
          "actionDescription": {
            "type": "string",
            "example": ""
          },
          "bundleApplied": {
            "type": "boolean",
            "example": false
          },
          "bundleDealId": {
            "type": "string",
            "example": "125"
          },
          "bundleLineParent": {
            "type": "boolean",
            "example": false
          },
          "buyAndGetId": {
            "type": "string",
            "description": "Reference to the buy and get applied to this line",
            "example": "125"
          },
          "copyFrom": {
            "type": "string",
            "example": "3"
          },
          "customerPriceId": {
            "type": "string",
            "description": "Reference to the customer price applied to this line. Also known as exceptionalPriceId.",
            "example": "125"
          },
          "discountReasonId": {
            "type": "string",
            "description": "Reference to the discount-reason applied to this line",
            "example": "125"
          },
          "inBuying": {
            "type": "boolean",
            "example": false
          },
          "lineDiscountId": {
            "type": "string",
            "description": "Reference to the line discount applied to this line",
            "example": "125"
          },
          "priceBundle": {
            "type": "number",
            "example": 5.93
          },
          "priceBuyAndGet": {
            "type": "number",
            "example": 5.93
          },
          "priceCustomer": {
            "type": "number",
            "description": "Also known as priceExceptional.",
            "example": 0
          },
          "priceLineDiscount": {
            "type": "number",
            "example": 5.93
          },
          "priceManual": {
            "type": "number",
            "example": 0
          },
          "priceSellGross": {
            "type": "number",
            "example": 5.93
          },
          "priceSet": {
            "type": "number",
            "example": 5.93
          },
          "returnIncentiveId": {
            "type": "string",
            "description": "Reference to the return incentive applied to this line",
            "example": "125"
          },
          "setId": {
            "type": "string",
[...]
