{
  "openapi": "3.0.0",
  "info": {
    "title": "deliveryNoteAPI",
    "version": "2.3.0"
  },
  "paths": {
    "/export/deliverynotes": {
      "get": {
        "summary": "get delivery notes",
        "description": "Use this endpoint to get a list of delivery notes.",
        "tags": [
          "export / import"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/headerTilroyApiKey"
          },
          {
            "$ref": "#/components/parameters/headerXApiKey"
          },
          {
            "$ref": "#/components/parameters/queryCount"
          },
          {
            "$ref": "#/components/parameters/queryPage"
          },
          {
            "$ref": "#/components/parameters/queryFields"
          },
          {
            "$ref": "#/components/parameters/queryDateFrom"
          },
          {
            "$ref": "#/components/parameters/queryDateExportedSince"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok",
            "headers": {
              "Link": {
                "description": "csv of first/prev/page/next/last links.",
                "schema": {
                  "type": "string"
                }
              },
              "Link-JSON": {
                "description": "JSON version of the Link header.",
                "schema": {
                  "type": "string"
                }
              },
              "X-Paging-CurrentPage": {
                "description": "number of the current page.",
                "schema": {
                  "type": "number"
                }
              },
              "X-Paging-ItemCount": {
                "description": "total number of items over all pages.",
                "schema": {
                  "type": "number"
                }
              },
              "X-Paging-ItemsPerPage": {
                "description": "number of max items returned per page.",
                "schema": {
                  "type": "number"
                }
              },
              "X-Paging-PageCount": {
                "description": "total number of pages.",
                "schema": {
                  "type": "number"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/deliveryNote"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "servers": [
    {
      "url": "https://api.tilroy.com/deliverynoteapi/production"
    }
  ],
  "components": {
    "parameters": {
      "headerTilroyApiKey": {
        "name": "Tilroy-Api-Key",
        "in": "header",
        "required": true,
        "description": "API key to identify and validate the tenant",
        "schema": {
          "type": "string"
        }
      },
      "headerXApiKey": {
        "name": "x-api-key",
        "in": "header",
        "required": true,
        "description": "API key of AWS",
        "schema": {
          "type": "string"
        }
      },
      "queryCount": {
        "name": "count",
        "in": "query",
        "required": false,
        "description": "max number of items to be returned (default = 10, max = 100)",
        "schema": {
          "type": "string",
          "default": 10
        }
      },
      "queryDateFrom": {
        "name": "dateFrom",
        "in": "query",
        "required": false,
        "description": "filter results by the date the item was created for export (Deprecated, use dateExportedSince)",
        "schema": {
          "type": "string"
        }
      },
      "queryDateExportedSince": {
        "in": "query",
        "name": "dateExportedSince",
        "description": "filter results by the date the item was created for export",
        "required": true,
        "schema": {
          "type": "string",
          "format": "date-time"
        }
      },
      "queryFields": {
        "name": "fields",
        "in": "query",
        "required": false,
        "description": "Comma-separated list of all fields you want returned in the result. All other fields will be omitted.",
        "schema": {
          "type": "string"
        }
      },
      "queryPage": {
        "name": "page",
        "in": "query",
        "required": false,
        "description": "page of results to be returned (default = 1)",
        "schema": {
          "type": "string",
          "default": 1
        }
      }
    },
    "schemas": {
      "deliveryNote": {
        "type": "object",
        "properties": {
          "basketId": {
            "type": "string"
          },
          "lines": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "shop": {
                  "type": "object",
                  "properties": {
                    "sourceId": {
                      "type": "string"
                    },
                    "number": {
                      "type": "number"
                    }
                  }
                },
                "customer": {
                  "type": "object",
                  "properties": {
                    "tilroyId": {
                      "type": "string"
                    },
                    "sourceId": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "product": {
                  "type": "object",
                  "properties": {
                    "tilroyId": {
                      "type": "string"
                    },
                    "sourceId": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    },
                    "description": {
                      "type": "string"
                    },
                    "sku": {
                      "type": "object",
                      "properties": {
                        "tilroyId": {
                          "type": "string"
                        },
                        "sourceId": {
                          "type": "string"
                        },
                        "description": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "priceSell": {
                  "type": "number"
                },
                "status": {
                  "type": "string"
                },
                "quantity": {
                  "type": "number"
                },
                "openQuantity": {
                  "type": "number"
                },
                "returnedQuantity": {
                  "type": "number"
                },
                "paidQuantity": {
                  "type": "number"
                },
                "deliveryNoteComment": {
                  "type": "string"
                },
                "dateDeliveryNote": {
                  "type": "string",
                  "format": "date-time"
                },
                "comments": {
                  "type": "string"
                },
                "returnReason": {
                  "type": "string"
                },
                "linkedObject": {
                  "type": "object",
                  "properties": {
                    "barcode": {
                      "type": "string"
                    },
                    "displayValue": {
                      "type": "string"
                    },
                    "reference": {
                      "type": "string"
                    },
                    "referenceType": {
                      "type": "string"
                    }
                  }
                },
                "deliveryNoteExtraComment": {
                  "type": "string"
                },
                "deliveryNoteSeparateInvoice": {
                  "type": "boolean"
                },
                "deliveryNoteSpecialDiscount": {
                  "type": "boolean"
                },
                "deliveryNotePaymentReference": {
                  "type": "string"
                },
                "dateExported": {
                  "type": "string",
                  "format": "date-time"
                }
              }
            }
          }
        }
      },
      "Error": {
        "description": "The error object returned by the service",
        "properties": {
          "code": {
            "type": "string",
            "description": "Code of the error, assigned by Node or the developer."
          },
          "message": {
            "type": "string",
            "description": "More information about the cause of the error."
          }
        }
      }
    }
  }
}