{
  "openapi": "3.0.1",
  "info": {
    "title": "paymentrequestapi",
    "description": "PaymentRequest API",
    "version": "2.1.3"
  },
  "servers": [
    {
      "url": "http://api.tilroy.com/paymentreqestapi/production/"
    }
  ],
  "paths": {
    "/paymentrequests": {
      "get": {
        "tags": [
          "paymentrequests"
        ],
        "summary": "search one or more paymentrequests",
        "parameters": [
          {
            "$ref": "#/components/parameters/headerTilroyApiKey"
          },
          {
            "$ref": "#/components/parameters/headerXApiKey"
          },
          {
            "$ref": "#/components/parameters/queryAllowClosed"
          },
          {
            "$ref": "#/components/parameters/queryBasketTilroyId"
          },
          {
            "$ref": "#/components/parameters/queryOrderNumber"
          },
          {
            "$ref": "#/components/parameters/queryCustomerSourceId"
          },
          {
            "$ref": "#/components/parameters/queryCustomerTilroyId"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/PaymentRequests"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "post": {
        "tags": [
          "paymentrequest"
        ],
        "summary": "create a PaymentRequest",
        "parameters": [
          {
            "$ref": "#/components/parameters/headerTilroyApiKey"
          },
          {
            "$ref": "#/components/parameters/headerXApiKey"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/PaymentRequest"
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/PaymentRequest"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/paymentrequests/{id}": {
      "get": {
        "tags": [
          "paymentrequest"
        ],
        "summary": "retrieve one PaymentRequest",
        "parameters": [
          {
            "$ref": "#/components/parameters/headerTilroyApiKey"
          },
          {
            "$ref": "#/components/parameters/headerXApiKey"
          },
          {
            "$ref": "#/components/parameters/pathId"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/PaymentRequest"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "put": {
        "tags": [
          "paymentrequest"
        ],
        "summary": "update a template",
        "parameters": [
          {
            "$ref": "#/components/parameters/headerTilroyApiKey"
          },
          {
            "$ref": "#/components/parameters/headerXApiKey"
          },
          {
            "$ref": "#/components/parameters/pathId"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/PaymentRequest"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/PaymentRequest"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/loglevel": {
      "post": {
        "x-internal": true,
        "tags": [
          "loglevel"
        ],
        "summary": "Set the loglevel for the service.",
        "requestBody": {
          "$ref": "#/components/requestBodies/loglevel"
        },
        "responses": {
          "200": {
            "description": "ok",
            "content": {}
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "headerTilroyApiKey": {
        "name": "Tilroy-Api-Key",
        "in": "header",
        "required": true,
        "description": "API key to identify and validate the tenant",
        "schema": {
          "type": "string"
        }
      },
      "headerXApiKey": {
        "name": "x-api-key",
        "in": "header",
        "required": true,
        "description": "API key of AWS",
        "schema": {
          "type": "string"
        }
      },
      "pathId": {
        "description": "id",
        "in": "path",
        "name": "id",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "queryAllowClosed": {
        "description": "allow closed payment request to be returned",
        "in": "query",
        "name": "allowClosed",
        "required": false,
        "schema": {
          "type": "boolean"
        }
      },
      "queryBasketTilroyId": {
        "description": "tilroyId of the Basket to filter on",
        "in": "query",
        "name": "basketTilroyId",
        "required": false,
        "schema": {
          "type": "string"
        }
      },
      "queryOrderNumber": {
        "description": "the number of the order",
        "in": "query",
        "name": "orderNumber",
        "required": false,
        "schema": {
          "type": "string"
        }
      },
      "queryCount": {
        "description": "max number of items to be returned (default = 10, max = 100)",
        "in": "query",
        "name": "count",
        "schema": {
          "default": "10",
          "type": "string"
        }
      },
      "queryCustomerSourceId": {
        "description": "sourceId of the Customer to filter on",
        "in": "query",
        "name": "customerSourceId",
        "required": false,
        "schema": {
          "type": "string"
        }
      },
      "queryCustomerTilroyId": {
        "description": "tilroyId of the Customer to filter on",
        "in": "query",
        "name": "customerTilroyId",
        "required": false,
        "schema": {
          "type": "string"
        }
      },
      "queryFields": {
        "description": "Comma-separated list of all fields you want returned in the result. All other fields will be omitted.",
        "in": "query",
        "name": "fields",
        "required": false,
        "schema": {
          "type": "string"
        }
      },
      "queryLanguage": {
        "description": "language code to filter on",
        "in": "query",
        "name": "language",
        "required": false,
        "schema": {
          "type": "string"
        }
      },
      "queryPage": {
        "description": "page of results to be returned (default = 1)",
        "in": "query",
        "name": "page",
        "schema": {
          "default": "1",
          "type": "string"
        }
      }
    },
    "requestBodies": {
      "PaymentRequest": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/PaymentRequest"
            }
          }
        },
        "description": "The template JSON in the body of the request or response",
        "required": true
      },
      "loglevel": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/LogLevel"
            }
          }
        },
        "description": "The logging level type in the body of the request",
        "required": true
      }
    },
    "responses": {
      "BadRequest": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        },
        "description": "Bad Request"
      },
      "InternalError": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        },
        "description": "Internal Server Error"
      },
      "NotFoundError": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        },
        "description": "Not Found"
      },
      "PaymentRequest": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/PaymentRequest"
            }
          }
        },
        "description": "ok"
      },
      "PaymentRequests": {
        "content": {
          "application/json": {
            "schema": {
              "items": {
                "$ref": "#/components/schemas/PaymentRequest"
              },
              "type": "array"
            }
          }
        },
        "description": "ok"
      },
      "Unauthorized": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        },
        "description": "Unauthorized"
      }
    },
    "schemas": {
      "Basket": {
        "properties": {
          "tilroyId": {
            "type": "string",
            "example": "5206"
          }
        },
        "required": [
          "tilroyId"
        ],
        "type": "object"
      },
      "CollectMethod": {
        "properties": {
          "tilroyId": {
            "type": "string",
            "example": "1"
          },
          "code": {
            "type": "string",
            "example": "home_delivery"
          }
        },
        "type": "object"
      },
      "Customer": {
        "properties": {
          "tilroyId": {
            "type": "string",
            "example": "206"
          },
          "sourceId": {
            "type": "string",
            "example": "3658d8488F"
          }
        },
        "type": "object"
      },
      "Error": {
        "description": "The error object returned by the service",
        "properties": {
          "code": {
            "description": "Code of the error, assigned by Node or the developer.",
            "type": "string"
          },
          "message": {
            "description": "More information about the cause of the error.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "LogLevel": {
        "properties": {
          "level": {
            "type": "string"
          }
        },
        "required": [
          "level"
        ],
        "type": "object"
      },
      "PaymentRequest": {
        "properties": {
          "tilroyId": {
            "type": "string",
            "example": "5ebd5ab0717f172e50990636"
          },
          "basket": {
            "$ref": "#/components/schemas/Basket"
          },
          "customer": {
            "$ref": "#/components/schemas/Customer"
          },
          "closed": {
            "type": "boolean"
          },
          "collectMethod": {
            "$ref": "#/components/schemas/CollectMethod"
          },
          "dateCreated": {
            "type": "string",
            "format": "date-time",
            "example": "2020-05-14T16:50:25.000Z"
          },
          "reference": {
            "type": "string",
            "description": "reference (OGM)",
            "example": "000000000101"
          },
          "amounts": {
            "type": "object",
            "properties": {
              "order": {
                "type": "number",
                "example": 1217.5
              },
              "depositPlaceOrder": {
                "type": "number",
                "example": 1217.5
              },
              "depositFulullOrder": {
                "type": "number",
                "example": 1217.5
              },
              "paid": {
                "type": "number",
                "example": 1217.5
              }
            },
            "required": [
              "order",
              "depositPlaceOrder",
              "depositFulullOrder",
              "paid"
            ]
          },
          "vats": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Vat"
            }
          }
        },
        "required": [
          "basket",
          "customer",
          "closed",
          "reference",
          "amounts",
          "dateCreated"
        ],
        "type": "object"
      },
      "Vat": {
        "properties": {
          "total": {
            "type": "string"
          },
          "percentage": {
            "type": "number",
            "example": 21
          }
        },
        "required": [
          "percentage",
          "total"
        ],
        "type": "object"
      }
    }
  }
}