{
  "openapi": "3.0.1",
  "info": {
    "title": "PromotionAPI",
    "description": "**Draft!**",
    "version": "2.5.0"
  },
  "servers": [
    {
      "url": "https://api.tilroy.com/promotionapi/production"
    }
  ],
  "security": [
    {}
  ],
  "paths": {
    "/v1/discountcodecollections": {
      "post": {
        "operationId": "createDiscountCodeCollection",
        "tags": [
          "discountcodecollections"
        ],
        "summary": "create a discount code collection",
        "description": "Use this endpoint to create a collection of discount codes. The collection can be used to generate discount codes for promotions.\n<p>A collection can be used to group discount codes with the same activation date, making it easier to activate them all at once.\n<p>The default status is 'active' which will also activate all linked discount codes. If you want to create a collection without activating the discount codes, set the status to 'new', and call the active endpoint on the correct time.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/headerTilroyApiKey"
          },
          {
            "$ref": "#/components/parameters/headerXApiKey"
          }
        ],
        "requestBody": {
          "description": "The payload for creating a discount code collection",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DiscountCodeCollectionCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/DiscountCodeCollection"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/v1/discountcodecollections/{tilroyId}": {
      "get": {
        "operationId": "getDiscountCodeCollection",
        "tags": [
          "discountcodecollections"
        ],
        "summary": "get a discount code collection",
        "description": "Use this endpoint to retrieve a collection of discount codes by id.",
        "parameters": [
          {
            "$ref": "#/components/parameters/headerTilroyApiKey"
          },
          {
            "$ref": "#/components/parameters/headerXApiKey"
          },
          {
            "$ref": "#/components/parameters/pathTilroyId"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/DiscountCodeCollection"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/v1/discountcodecollections/{tilroyId}/activate": {
      "put": {
        "operationId": "activateDiscountCodeCollection",
        "tags": [
          "discountcodecollections"
        ],
        "summary": "activate a discount code collection, and it's discount codes",
        "description": "Use this endpoint to activate a collection of discount codes by id, including all discount codes in the collection. Both the status will be set to 'active', and the dateActive will be set to now.",
        "parameters": [
          {
            "$ref": "#/components/parameters/headerTilroyApiKey"
          },
          {
            "$ref": "#/components/parameters/headerXApiKey"
          },
          {
            "$ref": "#/components/parameters/pathTilroyId"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/DiscountCodeCollection"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/v1/discountcodes": {
      "post": {
        "operationId": "createDiscountCodes",
        "tags": [
          "discountcodes"
        ],
        "summary": "create one or more discount codes",
        "description": "Use this endpoint to create one or more discount codes\n<p>If you want to create a discountCode with a specific barcode, you have to specify this in the body, otherwise a barcode will be generated automatically.\n<p>By default the status of the discountCode is 'active'. If you want to create a discountCode without activating it, set the status to 'new' and call the activate endpoint on the correct time.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/headerTilroyApiKey"
          },
          {
            "$ref": "#/components/parameters/headerXApiKey"
          }
        ],
        "requestBody": {
          "description": "The payload for creating a discount code",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DiscountCodeCreatePayload"
              }
            }
          }
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/DiscountCodes"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "get": {
        "operationId": "searchDiscountCodes",
        "tags": [
          "discountcodes"
        ],
        "summary": "search discount codes",
        "description": "Use this endpoint to search a discount codes. (TODO: Pagination will be added in the future)",
        "parameters": [
          {
            "$ref": "#/components/parameters/headerTilroyApiKey"
          },
          {
            "$ref": "#/components/parameters/headerXApiKey"
          },
          {
            "$ref": "#/components/parameters/queryBarcode"
          },
          {
            "$ref": "#/components/parameters/queryCollectionTilroyId"
          },
          {
            "$ref": "#/components/parameters/queryCollectionCode"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/DiscountCodes"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/v1/discountcodes/{tilroyId}/activate": {
      "put": {
        "operationId": "activateDiscountCode",
        "tags": [
          "discountcodes"
        ],
        "summary": "activate a discount code",
        "description": "Use this endpoint to activate a discount code. Both the status will be set to 'active', and the dateActive will be set to now. Active discount codes can be used.",
        "parameters": [
          {
            "$ref": "#/components/parameters/headerTilroyApiKey"
          },
          {
            "$ref": "#/components/parameters/headerXApiKey"
          },
          {
            "$ref": "#/components/parameters/pathTilroyId"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/DiscountCode"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/v1/discountcodes/{tilroyId}/use": {
      "put": {
        "operationId": "useDiscountCode",
        "tags": [
          "discountcodes"
        ],
        "summary": "use a discount code",
        "description": "Call this endpoint to use a discount code. \n<li> The status will be set to 'used'\n<li> The dateUsed will be set to now\n<li> The sale wll be set, if provided\n<li> The shop will be derived from the sale, if provided\n<p> <strong>Discount codes can be used only once.</strong>\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/headerTilroyApiKey"
          },
          {
            "$ref": "#/components/parameters/headerXApiKey"
          },
          {
            "$ref": "#/components/parameters/pathTilroyId"
          }
        ],
        "requestBody": {
          "description": "The payload for using a discount code",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DiscountCodeUsePayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/DiscountCode"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/export/promotions": {
      "get": {
        "operationId": "getPromotionExports",
        "tags": [
          "export"
        ],
        "summary": "get promotion exports",
        "description": "The list with properties is not complete. You'll notice more properties then described in this document. Please only use the documented fields. **Undocumented fields can change or be deleted!**",
        "parameters": [
          {
            "$ref": "#/components/parameters/headerTilroyApiKey"
          },
          {
            "$ref": "#/components/parameters/headerXApiKey"
          },
          {
            "$ref": "#/components/parameters/queryCount"
          },
          {
            "$ref": "#/components/parameters/queryPage"
          },
          {
            "$ref": "#/components/parameters/queryFields"
          },
          {
            "$ref": "#/components/parameters/queryDateFrom"
          },
          {
            "$ref": "#/components/parameters/queryDateExportedSince"
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "headers": {
              "X-Paging-ItemsPerPage": {
                "$ref": "#/components/headers/X-Paging-ItemsPerPage"
              },
              "X-Paging-ItemCount": {
                "$ref": "#/components/headers/X-Paging-ItemCount"
              },
              "X-Paging-PageCount": {
                "$ref": "#/components/headers/X-Paging-PageCount"
              },
              "X-Paging-CurrentPage": {
                "$ref": "#/components/headers/X-Paging-CurrentPage"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PromotionExport"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/loglevel": {
      "post": {
        "operationId": "setLogLevel",
        "x-internal": true,
        "tags": [
          "logging"
        ],
        "summary": "Set the loglevel for the service.",
        "parameters": [
          {
            "name": "Tilroy-Tenant-Id",
            "in": "header",
            "description": "tenantId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The logging level type in the body of the request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LogLevel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "ok",
            "content": {}
          },
          "400": {
            "description": "bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "internal (unexpected) error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "loglevel"
      }
    }
  },
  "components": {
    "schemas": {
      "Base_DiscountCodeCollection": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "example": "LD CODE PROMO -10%",
            "description": "the code of the discount code collection"
          },
          "status": {
            "type": "string",
            "enum": [
              "new",
              "active"
            ],
            "example": "new",
            "description": "the status of the discount code collection. If set to 'active', all discount codes in the collection will be activated.",
            "default": "active"
          },
          "description": {
            "type": "string",
            "example": "10% discount on all products",
            "description": "the description of the discount code collection",
            "default": "DEFAULT DESCRIPTION of ${code}"
          },
          "dateCreated": {
            "type": "string",
            "format": "date-time",
            "example": "2019-01-01T00:00:00.000Z",
            "description": "the date the discount code collection was created (defaults to now)"
          },
          "dateActive": {
            "type": "string",
            "format": "date-time",
            "example": "2019-01-01T00:00:00.000Z",
            "description": "The date the discount code collection was activated (defaults to now, if status = active).\n<p>Setting this value in the future during creation, is not possible.\n"
          }
        }
      },
      "DiscountCodeCollectionIds": {
        "type": "object",
        "properties": {
          "tilroyId": {
            "type": "string",
            "example": "3652145",
            "description": "the unique identifier of the discount code collection"
          },
          "code": {
            "type": "string",
            "example": "LD CODE PROMO -10%",
            "description": "the code of the discount code collection"
          }
        }
      },
      "DiscountCodeCollectionCreateRequest": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Base_DiscountCodeCollection"
          },
          {
            "type": "object",
            "properties": {
              "options": {
                "description": "optional properties",
                "type": "object",
                "properties": {
                  "barcodes": {
                    "type": "array",
                    "description": "The barcode of the discount code. If left empty, a unique barcode will be generated.\n",
                    "items": {
                      "type": "string",
                      "example": "DSC2024542727582"
                    },
                    "maxItems": 1000
                  },
                  "qty": {
                    "type": "integer",
                    "example": 100,
                    "description": "The number of discount codes to immediately create in the collection. \n<p>If used, this will be the number of the discountCodes that will be generated. \n<p>If not used, no discountCodes will be created.\n<p>This property is only used during creation of a collection.\n",
                    "default": 0
                  }
                }
              }
            }
          }
        ]
      },
      "DiscountCodeCollectionResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/DiscountCodeCollectionIds"
          },
          {
            "$ref": "#/components/schemas/Base_DiscountCodeCollection"
          }
        ]
      },
      "Base_DiscountCode": {
        "type": "object",
        "properties": {
          "collection": {
            "$ref": "#/components/schemas/DiscountCodeCollectionIds"
          },
          "status": {
            "type": "string",
            "enum": [
              "new",
              "active",
              "used"
            ],
            "example": "new",
            "description": "the status of the discount code. Only active discount codes can be used.\n<li>new: the discount code is created, but not yet active\n<li>active: the discount code is active and can be used\n<li>used: the discount code has been used\n",
            "default": "active"
          },
          "dateCreated": {
            "type": "string",
            "format": "date-time",
            "example": "2019-01-01T00:00:00.000Z",
            "description": "the date the discount code collection was created (defaults to now)"
          },
          "dateActive": {
            "type": "string",
            "format": "date-time",
            "example": "2019-01-01T00:00:00.000Z",
            "description": "the date the discount code collection was activated (defaults to now, if status = active). Setting this value in the future is not possible."
          },
          "dateUsed": {
            "type": "string",
            "format": "date-time",
            "example": "2019-01-01T00:00:00.000Z",
            "description": "the date the discount code was used"
          },
          "sale": {
            "type": "object",
            "properties": {
              "tilroyId": {
                "type": "string",
                "example": "123456",
                "description": "the tilroyId of the sale where the discount code was used"
              }
            }
          },
          "shop": {
            "type": "object",
            "properties": {
              "tilroyId": {
                "type": "string",
                "example": "123456",
                "description": "the tilroyId of the shop where the discount code was used"
              }
            }
          }
        }
      },
      "Base_DiscountCodeCreate": {
        "type": "object",
        "properties": {
          "options": {
            "description": "optional properties for creating discountCodes",
            "type": "object",
            "properties": {
              "barcodes": {
                "type": "array",
                "description": "The barcode of the discount code. If left empty, a unique barcode will be generated.\n",
                "items": {
                  "type": "string",
                  "example": "DSC2024542727582"
                },
                "maxItems": 1000
              },
              "qty": {
                "type": "integer",
                "example": 100,
                "description": "The number of discount codes to create. \n<p>If used, this will be the number of the discountCodes that will be generated. \n<p>This number will be ignored if barcodes contains elements.\n",
                "default": 1
              }
            }
          }
        }
      },
      "DiscountCodeCreatePayload": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Base_DiscountCode"
          },
          {
            "$ref": "#/components/schemas/Base_DiscountCodeCreate"
          }
        ],
        "required": [
          "collection"
        ]
      },
      "DiscountCodeUsePayload": {
        "type": "object",
        "properties": {
          "sale": {
            "description": "the sale the discountCode was used in (optional)",
            "type": "object",
            "properties": {
              "tilroyId": {
                "type": "string",
                "example": "123456",
                "description": "the tilroyId of the sale"
              }
            }
          }
        }
      },
      "DiscountCodeResponse": {
        "allOf": [
          {
            "type": "object",
            "properties": {
              "tilroyId": {
                "type": "string",
                "example": "3652145",
                "description": "the unique identifier of the discount code"
              },
              "barcode": {
                "type": "string",
                "example": "DSC2024542727582",
                "description": "the barcode of the discount code"
              }
            }
          },
          {
            "$ref": "#/components/schemas/Base_DiscountCode"
          }
        ]
      },
      "PromotionExport": {
        "type": "object",
        "properties": {
          "tilroyId": {
            "type": "string",
            "example": "3652145"
          },
          "name": {
            "type": "string",
            "example": "LD CODE PROMO -10%"
          },
          "dateFrom": {
            "type": "string",
            "format": "date-time",
            "example": "2019-01-01T00:00:00.000Z"
          },
          "dateTo": {
            "type": "string",
            "format": "date-time",
            "example": "2020-01-01T00:00:00.000Z"
          },
          "dateExported": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "LogLevel": {
        "required": [
          "level"
        ],
        "type": "object",
        "properties": {
          "level": {
            "type": "string"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Code of the error, assigned by Node or the developer."
          },
          "message": {
            "type": "string",
            "description": "More information about the cause of the error."
          }
        },
        "description": "The error object returned by the service"
      }
    },
    "parameters": {
      "headerTilroyApiKey": {
        "name": "Tilroy-Api-Key",
        "in": "header",
        "required": true,
        "description": "API key to identify and validate the tenant",
        "schema": {
          "type": "string"
        }
      },
      "headerXApiKey": {
        "name": "x-api-key",
        "in": "header",
        "required": true,
        "description": "API key of AWS",
        "schema": {
          "type": "string"
        }
      },
      "tenantId": {
        "name": "Tilroy-Tenant-Id",
        "in": "header",
        "required": true,
        "description": "tenantId",
        "schema": {
          "type": "string"
        }
      },
      "pathTilroyId": {
        "name": "tilroyId",
        "in": "path",
        "required": true,
        "description": "the id of the resource",
        "schema": {
          "type": "string",
          "default": "103658"
        }
      },
      "queryCount": {
        "name": "count",
        "in": "query",
        "description": "max number of items to be returned (default = 10, max = 100)",
        "schema": {
          "type": "string",
          "default": "10"
        }
      },
      "queryPage": {
        "name": "page",
        "in": "query",
        "description": "page of results to be returned (default = 1)",
        "schema": {
          "type": "string",
          "default": "1"
        }
      },
      "queryDateFrom": {
        "name": "dateFrom",
        "in": "query",
        "description": "filter results by the date the item was created for export (Deprecated, use dateExportedSince)",
        "required": false,
        "schema": {
          "type": "string"
        }
      },
      "queryDateExportedSince": {
        "name": "dateExportedSince",
        "in": "query",
        "description": "filter results by the date the item was created for export",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "queryFields": {
        "in": "query",
        "name": "fields",
        "schema": {
          "type": "string"
        },
        "description": "Comma-separated list of all fields you want returned in the result. All other fields will be omitted.",
        "required": false
      },
      "queryBarcode": {
        "in": "query",
        "name": "barcode",
        "schema": {
          "type": "string"
        },
        "description": "the barcode of the discount code",
        "required": false
      },
      "queryCollectionTilroyId": {
        "in": "query",
        "name": "collectionTilroyId",
        "schema": {
          "type": "string"
        },
        "description": "the tilroyId of the discount code collection",
        "required": false
      },
      "queryCollectionCode": {
        "in": "query",
        "name": "collectionCode",
        "schema": {
          "type": "string"
        },
        "description": "the code of the discount code collection",
        "required": false
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Bad Request",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Forbidden": {
        "description": "403: Forbidden",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "InternalError": {
        "description": "Internal Server Error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "NotFoundError": {
        "description": "Not Found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "401: Unauthorized",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "DiscountCodeCollection": {
        "description": "Discount code collection",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/DiscountCodeCollectionResponse"
            }
          }
        }
      },
      "DiscountCode": {
        "description": "Discount code",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/DiscountCodeResponse"
            }
          }
        }
      },
      "DiscountCodes": {
        "description": "Discount codes",
        "content": {
          "application/json": {
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/DiscountCodeResponse"
              }
            }
          }
        }
      }
    },
    "headers": {
      "X-Paging-ItemsPerPage": {
        "description": "number of max items returned per page.",
        "schema": {
          "type": "number"
        }
      },
      "X-Paging-ItemCount": {
        "description": "total number of items over all pages.",
        "schema": {
          "type": "number"
        }
      },
      "X-Paging-PageCount": {
        "description": "total number of pages.",
        "schema": {
          "type": "number"
        }
      },
      "X-Paging-CurrentPage": {
        "description": "number of the current page.",
        "schema": {
          "type": "number"
        }
      }
    }
  }
}