{
  "openapi": "3.0.1",
  "info": {
    "title": "QuotationApi",
    "description": "QuotationApi",
    "version": "1.8.0"
  },
  "servers": [
    {
      "url": "https://api.tilroy.com/quotationapi/production"
    }
  ],
  "paths": {
    "/quotations": {
      "get": {
        "tags": [
          "Quotations"
        ],
        "summary": "find one or more quotations",
        "parameters": [
          {
            "$ref": "#/components/parameters/tilroyApiKey"
          },
          {
            "$ref": "#/components/parameters/xapikey"
          },
          {
            "$ref": "#/components/parameters/queryFields"
          },
          {
            "$ref": "#/components/parameters/queryCount"
          },
          {
            "$ref": "#/components/parameters/queryPage"
          },
          {
            "$ref": "#/components/parameters/queryLastVersionOnly"
          },
          {
            "$ref": "#/components/parameters/queryDateFrom"
          },
          {
            "$ref": "#/components/parameters/queryDateTo"
          },
          {
            "$ref": "#/components/parameters/queryShopTilroyId"
          },
          {
            "$ref": "#/components/parameters/queryShopSourceId"
          },
          {
            "$ref": "#/components/parameters/queryShopNumber"
          },
          {
            "$ref": "#/components/parameters/queryCustomerTilroyId"
          },
          {
            "$ref": "#/components/parameters/queryCustomerSourceId"
          },
          {
            "$ref": "#/components/parameters/queryVersion"
          },
          {
            "$ref": "#/components/parameters/queryCode"
          },
          {
            "$ref": "#/components/parameters/queryStatus"
          },
          {
            "$ref": "#/components/parameters/querySort"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/QuotationsResult"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/lostreasons": {
      "get": {
        "tags": [
          "Lost Reasons"
        ],
        "summary": "retrieve lost reasons",
        "parameters": [
          {
            "$ref": "#/components/parameters/tilroyApiKey"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/LostReasons"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/quotations/{id}": {
      "get": {
        "tags": [
          "Quotations"
        ],
        "summary": "find one quotation",
        "parameters": [
          {
            "$ref": "#/components/parameters/tilroyApiKey"
          },
          {
            "$ref": "#/components/parameters/xapikey"
          },
          {
            "$ref": "#/components/parameters/pathId"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/QuotationResult"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/quotations/{id}/lines": {
      "get": {
        "summary": "get quotation line",
        "tags": [
          "Lines"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/tilroyApiKey"
          },
          {
            "$ref": "#/components/parameters/pathId"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/QuotationLines"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/quotations/{id}/updatestatus": {
      "post": {
        "summary": "Update quotation status",
        "tags": [
          "Quotations"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/tilroyApiKey"
          },
          {
            "$ref": "#/components/parameters/pathId"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/statusUpdate"
        },
        "responses": {
          "204": {
            "description": "ok",
            "content": {}
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/quotations/{id}/updatedelivery": {
      "post": {
        "summary": "Update quotation delivery",
        "tags": [
          "Quotations"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/tilroyApiKey"
          },
          {
            "$ref": "#/components/parameters/pathId"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/deliveryUpdate"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/QuotationResult"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/quotations/{id}/pdf": {
      "post": {
        "summary": "Generate PDF file for quotation",
        "tags": [
          "Quotations"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/tilroyApiKey"
          },
          {
            "$ref": "#/components/parameters/pathId"
          },
          {
            "$ref": "#/components/parameters/queryLanguageRequired"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/quotationsPDF"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/quotations/{id}/orders": {
      "post": {
        "summary": "Create an order from a quotation",
        "tags": [
          "Orders"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/tilroyApiKey"
          },
          {
            "$ref": "#/components/parameters/pathId"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/quotationToOrder"
        },
        "responses": {
          "200": {
            "description": "ok",
            "content": {}
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/loglevel": {
      "post": {
        "x-internal": true,
        "tags": [
          "loglevel"
        ],
        "summary": "Set the loglevel for the service.",
        "parameters": [
          {
            "$ref": "#/components/parameters/tilroyApiKey"
          },
          {
            "$ref": "#/components/parameters/xapikey"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/loglevel"
        },
        "responses": {
          "200": {
            "description": "ok",
            "content": {}
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "headerTilroyTenantId": {
        "name": "Tilroy-Tenant-Id",
        "in": "header",
        "required": true,
        "description": "tenantId",
        "schema": {
          "type": "string"
        }
      },
      "tilroyApiKey": {
        "name": "Tilroy-Api-Key",
        "in": "header",
        "required": true,
        "description": "API key to identify and validate the tenant",
        "schema": {
          "type": "string"
        }
      },
      "xapikey": {
        "name": "x-api-key",
        "in": "header",
        "required": true,
        "description": "API key of AWS",
        "schema": {
          "type": "string"
        }
      },
      "pathId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "id",
        "schema": {
          "type": "string"
        }
      },
      "queryLanguage": {
        "in": "query",
        "name": "language",
        "description": "language code to filter on",
        "required": false,
        "schema": {
          "type": "string"
        }
      },
      "queryLanguageRequired": {
        "in": "query",
        "name": "language",
        "description": "language code to filter on",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "queryFields": {
        "in": "query",
        "name": "fields",
        "schema": {
          "type": "string"
        },
        "description": "Comma-separated list of all fields you want returned in the result. All other fields will be omitted.",
        "required": false
      },
      "queryCount": {
        "name": "count",
        "in": "query",
        "description": "max number of items to be returned (default = 10, max = 100)",
        "schema": {
          "type": "string",
          "default": "10"
        }
      },
      "queryPage": {
        "name": "page",
        "in": "query",
        "description": "page of results to be returned (default = 1)",
        "schema": {
          "type": "string",
          "default": "1"
        }
      },
      "queryLastVersionOnly": {
        "name": "lastVersionOnly",
        "in": "query",
        "description": "lastVersionOnly",
        "schema": {
          "type": "boolean"
        }
      },
      "queryDateFrom": {
        "name": "dateFrom",
        "in": "query",
        "description": "lookup quotations created after dateFrom",
        "schema": {
          "type": "string"
        }
      },
      "queryDateTo": {
        "name": "dateTo",
        "in": "query",
        "description": "lookup quotations created before dateTo",
        "schema": {
          "type": "string"
        }
      },
      "queryShopTilroyId": {
        "name": "shop.tilroyId",
        "in": "query",
        "description": "shop.tilroyId",
        "schema": {
          "type": "string"
        }
      },
      "queryShopSourceId": {
        "name": "shop.sourceId",
        "in": "query",
        "description": "shop.sourceId",
        "schema": {
          "type": "string"
        }
      },
      "queryShopNumber": {
        "name": "shop.number",
        "in": "query",
        "description": "shop.number",
        "schema": {
          "type": "string"
        }
      },
      "queryCustomerTilroyId": {
        "name": "customer.tilroyId",
        "in": "query",
        "description": "customer.tilroyId",
        "schema": {
          "type": "string"
        }
      },
      "queryCustomerSourceId": {
        "name": "customer.sourceId",
        "in": "query",
        "description": "customer.sourceId",
        "schema": {
          "type": "string"
        }
      },
      "queryVersion": {
        "name": "version",
        "in": "query",
        "description": "version",
        "schema": {
          "type": "string"
        }
      },
      "queryCode": {
        "name": "code",
        "in": "query",
        "description": "code",
        "schema": {
          "type": "string"
        }
      },
      "queryStatus": {
        "name": "status",
        "in": "query",
        "description": "status",
        "schema": {
          "type": "string"
        }
      },
      "querySort": {
        "name": "sort",
        "in": "query",
        "description": "sort",
        "schema": {
          "type": "string"
        }
      }
    },
    "responses": {
      "quotationsPDF": {
        "description": "quotations PDF",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/quotationsPDFResponseBody"
            }
          }
        }
      },
      "BadRequest": {
        "description": "Bad Request",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "InternalError": {
        "description": "Internal Server Error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "NotFoundError": {
        "description": "Not Found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "QuotationsResult": {
        "description": "ok",
        "content": {
          "application/json": {
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/Quotation"
              }
            }
          }
        }
      },
      "LostReasons": {
        "description": "ok",
        "content": {
          "application/json": {
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/LostReason"
              }
            }
          }
        }
      },
      "QuotationResult": {
        "description": "ok",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Quotation"
            }
          }
        }
      },
      "QuotationLines": {
        "description": "ok",
        "content": {
          "application/json": {
            "schema": {
              "type": "array",
              "items": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/QuotationLineBase"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "_id": {
                        "readOnly": true,
                        "type": "string"
                      },
                      "quotationId": {
                        "type": "string"
                      },
                      "product": {
                        "$ref": "#/components/schemas/product"
                      },
                      "discount": {
                        "$ref": "#/components/schemas/discount"
                      },
                      "promotion": {
                        "allOf": [
                          {
                            "$ref": "#/components/schemas/Promotion"
                          }
                        ]
                      },
                      "children": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "quotationId": {
                              "type": "string"
                            },
                            "isHeader": {
                              "type": "boolean",
                              "example": false
                            },
                            "type": {
                              "type": "string",
                              "example": "product"
                            },
                            "level": {
                              "type": "number",
                              "example": 0
                            },
                            "description": {
                              "type": "string",
                              "example": "description"
                            },
                            "product": {
                              "type": "object",
                              "properties": {
                                "code": {
                                  "type": "string",
                                  "example": "code"
                                },
                                "description": {
                                  "type": "string",
                                  "example": "description"
                                },
                                "brand": {
                                  "type": "object",
                                  "properties": {
                                    "description": {
                                      "type": "string",
                                      "example": "description"
                                    }
                                  }
                                }
                              }
                            },
                            "priceVatIncl": {
                              "type": "number",
                              "example": 25.99
                            },
                            "priceVatExcl": {
                              "type": "number",
                              "example": 19.56
                            },
                            "discountVatIncl": {
                              "type": "number",
                              "example": 0
                            },
                            "discountVatExcl": {
                              "type": "number",
                              "example": 0
                            },
                            "totalPriceVatIncl": {
                              "type": "number",
                              "example": 52.54
                            },
                            "totalPriceVatExcl": {
                              "type": "number",
                              "example": 45.67
                            },
                            "quantity": {
                              "type": "number",
                              "example": 1
                            },
                            "prices": {
                              "type": "object",
                              "properties": {
                                "standard": {
                                  "type": "number"
                                },
                                "sell": {
                                  "type": "number"
                                },
                                "promo": {
                                  "type": "number"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                ]
              }
            }
          }
        }
      }
    },
    "schemas": {
      "Delivery": {
        "type": "object",
        "properties": {
          "address1": {
            "type": "string"
          },
          "address2": {
            "type": "string"
          },
          "address3": {
            "type": "string"
          },
          "address4": {
            "type": "string"
          },
          "address5": {
            "type": "string"
          },
          "houseNumber": {
            "type": "string"
          },
          "box": {
            "type": "string"
          },
          "postalCode": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "country": {
            "type": "object",
            "properties": {
              "tilroyId": {
                "type": "string"
              },
              "description": {
                "type": "string"
              },
              "code": {
                "type": "string"
              }
            }
          },
          "name": {
            "type": "string"
          }
        }
      },
      "LostReasonBase": {
        "description": "tilroyId or code is required for identifying the lostReason",
        "type": "object",
        "properties": {
          "tilroyId": {
            "type": "string",
            "example": "6061df5231619a1031b6d0fa"
          },
          "code": {
            "type": "string",
            "example": "123"
          }
        }
      },
      "LostReason": {
        "allOf": [
          {
            "$ref": "#/components/schemas/LostReasonBase"
          },
          {
            "type": "object",
            "properties": {
              "description": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "language": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "tilroyId": {
                          "type": "string"
                        }
                      }
                    },
                    "description": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        ]
      },
      "Quotation": {
        "type": "object",
        "properties": {
          "tilroyId": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "lostReason": {
            "$ref": "#/components/schemas/LostReasonBase"
          },
          "lostParty": {
            "type": "object",
            "properties": {
              "tilroyId": {
                "type": "string"
              },
              "code": {
                "type": "string"
              }
            }
          },
          "title": {
            "type": "string"
          },
          "dateCreated": {
            "type": "string",
            "format": "date-time"
          },
          "dateUpdated": {
            "type": "string",
            "format": "date-time"
          },
          "dateCalculated": {
            "type": "string",
            "format": "date-time"
          },
          "expirationDate": {
            "type": "string",
            "format": "date-time"
          },
          "internalComment": {
            "type": "string"
          },
          "externalReference": {
            "type": "string"
          },
          "privateComment": {
            "type": "string"
          },
          "isVatInclusive": {
            "type": "boolean"
          },
          "priceVatExcl": {
            "type": "number"
          },
          "priceVatIncl": {
            "type": "number"
          },
          "status": {
            "type": "string"
          },
          "tenantId": {
            "type": "string"
          },
          "vatAmount": {
            "type": "number"
          },
          "discountAmount": {
            "type": "number"
          },
          "discount": {
            "type": "object",
            "properties": {
              "amount": {
                "type": "number"
              },
              "type": {
                "type": "string"
              },
              "reason": {
                "type": "object",
                "properties": {
                  "tilroyId": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "version": {
            "type": "number"
          },
          "customer": {
            "type": "object",
            "properties": {
              "tilroyId": {
                "type": "string"
              },
              "code": {
                "type": "string"
              },
              "classification": {
                "type": "string"
              },
              "firstName": {
                "type": "string"
              },
              "middleName": {
                "type": "string"
              },
              "lastName": {
                "type": "string"
              },
              "companyName": {
                "type": "string"
              },
              "VATNumber": {
                "type": "string"
              },
              "VATExempt": {
                "type": "boolean"
              },
              "priceRange": {
                "type": "string"
              },
              "email": {
                "type": "string"
              },
              "phone": {
                "type": "string"
              },
              "mobile": {
                "type": "string"
              },
              "card": {
                "type": "string"
              },
              "titleId": {
                "type": "string"
              },
              "address": {
                "type": "object",
                "properties": {
                  "address1": {
                    "type": "string"
                  },
                  "address2": {
                    "type": "string"
                  },
                  "address3": {
                    "type": "string"
                  },
                  "address4": {
                    "type": "string"
                  },
                  "address5": {
                    "type": "string"
                  },
                  "houseNumber": {
                    "type": "string"
                  },
                  "box": {
                    "type": "string"
                  },
                  "postalCode": {
                    "type": "string"
                  },
                  "city": {
                    "type": "string"
                  },
                  "country": {
                    "type": "object",
                    "properties": {
                      "tilroyId": {
                        "type": "string"
                      },
                      "description": {
                        "type": "string"
                      }
                    }
                  }
                }
              },
              "idCustomerGroup": {
                "type": "string"
              },
              "extraCustomerGroups": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "ID": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "delivery": {
            "$ref": "#/components/schemas/Delivery"
          },
          "language": {
            "type": "object",
            "properties": {
              "tilroyId": {
                "type": "string"
              },
              "code": {
                "type": "string"
              }
            }
          },
          "legalEntity": {
            "type": "object",
            "properties": {
              "tilroyId": {
                "type": "string"
              },
              "code": {
                "type": "string"
              },
              "name": {
                "type": "string"
              }
            }
          },
          "shop": {
            "type": "object",
            "properties": {
              "tilroyId": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "number": {
                "type": "string"
              },
              "countryId": {
                "type": "string"
              },
              "countryCode": {
                "type": "string"
              },
              "email": {
                "type": "string"
              },
              "phone": {
                "type": "string"
              },
              "street": {
                "type": "string"
              },
              "houseNumber": {
                "type": "string"
              },
              "box": {
                "type": "string"
              },
              "location": {
                "type": "string"
              }
            }
          },
          "user": {
            "type": "object",
            "properties": {
              "tilroyId": {
                "type": "string"
              },
              "firstName": {
                "type": "string"
              },
              "lastName": {
                "type": "string"
              }
            }
          },
          "responses": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "question": {
                  "type": "object",
                  "properties": {
                    "tilroyId": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                },
                "answer": {
                  "type": "object",
                  "properties": {
                    "tilroyId": {
                      "type": "string"
                    },
                    "code": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "orderNumber": {
            "type": "string"
          },
          "quotationNumber": {
            "type": "string"
          },
          "surplusDiscountAmount": {
            "type": "number"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "QuotationLineBase": {
        "description": "Quotation Line object",
        "properties": {
          "comment": {
            "type": "string"
          },
          "isHeader": {
            "type": "boolean"
          },
          "type": {
            "type": "string"
          },
          "dateCreated": {
            "type": "string",
            "format": "date-time"
          },
          "dateUpdated": {
            "type": "string",
            "format": "date-time"
          },
          "level": {
            "type": "number"
          },
          "path": {
            "type": "string"
          },
          "sortOrder": {
            "type": "number"
          },
          "title": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "quantity": {
            "type": "number"
          },
          "promoPrice": {
            "type": "number"
          },
          "priceVatExcl": {
            "type": "number"
          },
          "priceVatIncl": {
            "type": "number"
          },
          "vatAmount": {
            "type": "number"
          },
          "discount": {
            "$ref": "#/components/schemas/discountBase"
          },
          "calculatedPrices": {
            "$ref": "#/components/schemas/calculatedPrices"
          },
          "product": {
            "$ref": "#/components/schemas/productBase"
          }
        }
      },
      "discount": {
        "allOf": [
          {
            "$ref": "#/components/schemas/discountBase"
          },
          {
            "type": "object",
            "properties": {
              "reason": {
                "type": "object",
                "properties": {
                  "tilroyId": {
                    "type": "string"
                  }
                }
              }
            }
          }
        ]
      },
      "discountBase": {
        "properties": {
          "amount": {
            "type": "number"
          },
          "type": {
            "type": "string"
          },
          "reason": {
            "type": "object",
            "properties": {
              "description": {
                "type": "string"
              }
            }
          }
        }
      },
      "Promotion": {
        "type": "object",
        "properties": {
          "actionId": {
            "type": "string",
            "description": "Reference to the action applied to this line",
            "example": "125"
          },
          "actionDescription": {
            "type": "string",
            "example": ""
          },
          "bundleApplied": {
            "type": "boolean",
            "example": false
          },
          "bundleDealId": {
            "type": "string",
            "example": "125"
          },
          "bundleLineParent": {
            "type": "boolean",
            "example": false
          },
          "buyAndGetId": {
            "type": "string",
            "description": "Reference to the buy and get applied to this line",
            "example": "125"
          },
          "copyFrom": {
            "type": "string",
            "example": "3"
          },
          "customerPriceId": {
            "type": "string",
            "description": "Reference to the customer price applied to this line. Also known as exceptionalPriceId.",
            "example": "125"
          },
          "discountReasonId": {
            "type": "string",
            "description": "Reference to the discount-reason applied to this line",
            "example": "125"
          },
          "inBuying": {
            "type": "boolean",
            "example": false
          },
          "lineDiscountId": {
            "type": "string",
            "description": "Reference to the line discount applied to this line",
            "example": "125"
          },
          "priceBundle": {
            "type": "number",
            "example": 5.93,
            "default": 0
          },
          "priceBuyAndGet": {
            "type": "number",
            "example": 5.93,
            "default": 0
          },
          "priceCustomer": {
            "type": "number",
            "description": "Also known as priceExceptional.",
            "default": 0,
            "example": 0
          },
          "priceLineDiscount": {
            "type": "number",
            "example": 5.93,
            "default": 0
          },
          "priceManual": {
            "type": "number",
            "example": 0,
            "default": 0
          },
          "priceSellGross": {
            "type": "number",
            "example": 5.93,
            "default": 0
          },
          "priceSet": {
            "type": "number",
            "example": 5.93,
            "default": 0
          },
          "returnIncentiveId": {
            "type": "string",
            "description": "Reference to the return incentive applied to this line",
            "example": "125"
          },
          "setId": {
            "type": "string",
            "description": "Reference to the set id applied to this line",
            "example": "125"
          },
          "triggerId": {
            "type": "string",
            "example": "125"
          }
        }
      },
      "product": {
        "allOf": [
          {
            "$ref": "#/components/schemas/productBase"
          },
          {
            "type": "object",
            "properties": {
              "tilroyId": {
                "type": "string"
              },
              "colour": {
                "$ref": "#/components/schemas/colour"
              }
            }
          }
        ]
      },
      "colour": {
        "allOf": [
          {
            "$ref": "#/components/schemas/colourBase"
          },
          {
            "type": "object",
            "properties": {
              "tilroyId": {
                "type": "string"
              },
              "sku": {
                "$ref": "#/components/schemas/sku"
              }
            }
          }
        ]
      },
      "sku": {
        "allOf": [
          {
            "$ref": "#/components/schemas/skuBase"
          },
          {
            "type": "object",
            "properties": {
              "tilroyId": {
                "type": "string"
              },
              "sizeCode": {
                "type": "string"
              },
              "size": {
                "$ref": "#/components/schemas/size"
              }
            }
          }
        ]
      },
      "skuBase": {
        "properties": {
          "size": {
            "$ref": "#/components/schemas/sizeBase"
          }
        }
      },
      "size": {
        "allOf": [
          {
            "$ref": "#/components/schemas/sizeBase"
          },
          {
            "type": "object",
            "properties": {
              "tilroyId": {
                "type": "string"
              }
            }
          }
        ]
      },
      "sizeBase": {
        "properties": {
          "code": {
            "type": "string"
          },
          "useInProductDescription": {
            "type": "boolean"
          }
        }
      },
      "calculatedPrices": {
        "properties": {
          "regularPrice": {
            "type": "number"
          },
          "regularVat": {
            "type": "number"
          },
          "regularVatPrice": {
            "type": "number"
          },
          "regularTotalPrice": {
            "type": "number"
          },
          "regularTotalVat": {
            "type": "number"
          },
          "regularTotalVatPrice": {
            "type": "number"
          },
          "discount": {
            "type": "number"
          },
          "discountPrice": {
            "type": "number"
          },
          "discountVat": {
            "type": "number"
          },
          "totalPrice": {
            "type": "number"
          },
          "totalVat": {
            "type": "number"
          },
          "totalVatPrice": {
            "type": "number"
          },
          "totalDiscount": {
            "type": "number"
          }
        }
      },
      "productBase": {
        "properties": {
          "code": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "colour": {
            "$ref": "#/components/schemas/colourBase"
          }
        }
      },
      "colourBase": {
        "properties": {
          "code": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "image": {
            "type": "string"
          },
          "sku": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string"
              },
              "useInProductDescription": {
                "type": "boolean"
              }
            }
          },
          "useInProductDescription": {
            "type": "boolean"
          }
        }
      },
      "LogLevel": {
        "required": [
          "level"
        ],
        "type": "object",
        "properties": {
          "level": {
            "type": "string"
          }
        }
      },
      "StatusUpdate": {
        "required": [
          "status"
        ],
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "lost"
            ]
          },
          "lostReason": {
            "$ref": "#/components/schemas/LostReasonBase"
          }
        }
      },
      "quotationsPDFResponseBody": {
        "type": "object",
        "properties": {
          "quotationId": {
            "type": "string"
          },
          "filename": {
            "type": "string"
          },
          "link": {
            "type": "string",
            "description": "Link to download file."
          }
        },
        "description": "The response object returned by the service"
      },
      "QuotationToOrderPayload": {
        "type": "object",
        "properties": {
          "channel": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "example": "TILL"
              }
            }
          },
          "collectMethod": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "example": "home_delivery"
              }
            }
          },
          "shopHandling": {
            "type": "object",
            "properties": {
              "tilroyId": {
                "type": "string",
                "example": "87"
              },
              "number": {
                "type": "integer",
                "example": 9
              }
            }
          },
          "shopStock": {
            "type": "object",
            "properties": {
              "tilroyId": {
                "type": "string",
                "example": "87"
              },
              "number": {
                "type": "integer",
                "example": 10
              }
            }
          },
          "user": {
            "type": "object",
            "properties": {
              "tilroyId": {
                "type": "string",
                "example": "8011"
              }
            }
          },
          "shop": {
            "type": "object",
            "properties": {
              "number": {
                "type": "integer",
                "example": 11
              },
              "tilroyId": {
                "type": "string",
                "example": "87"
              },
              "till": {
                "type": "object",
                "properties": {
                  "tilroyId": {
                    "type": "string",
                    "example": "90"
                  },
                  "number": {
                    "type": "integer",
                    "example": 1
                  }
                }
              }
            }
          },
          "deliveryService": {
            "type": "object",
            "properties": {
              "price": {
                "type": "number",
                "format": "float",
                "example": 5.99
              },
              "reference": {
                "type": "string",
                "example": "Standaard"
              },
              "type": {
                "type": "string",
                "example": "Standaard"
              }
            }
          },
          "deliveryAllowedFrom": {
            "type": "string",
            "format": "date-time",
            "example": "2024-10-31T00:00:00+02:00"
          },
          "deliveryDate": {
            "type": "string",
            "format": "date-time",
            "example": "2024-11-02T00:00:00+02:00"
          },
          "expectedDelivery": {
            "type": "object",
            "properties": {
              "date": {
                "type": "string",
                "format": "date-time",
                "example": "2024-11-02T00:00:00+02:00"
              },
              "skus": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "tilroyId": {
                      "type": "string",
                      "example": "2040483"
                    },
                    "shopStock": {
                      "type": "object",
                      "properties": {
                        "tilroyId": {
                          "type": "string",
                          "example": "87"
                        },
                        "number": {
                          "type": "integer",
                          "example": 11
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Code of the error, assigned by Node or the developer."
          },
          "message": {
            "type": "string",
            "description": "More information about the cause of the error."
          }
        },
        "description": "The error object returned by the service"
      }
    },
    "requestBodies": {
      "loglevel": {
        "description": "The logging level type in the body of the request",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/LogLevel"
            }
          }
        },
        "required": true
      },
      "deliveryUpdate": {
        "description": "The delivery update value in the body of the request",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Delivery"
            }
          }
        },
        "required": true
      },
      "statusUpdate": {
        "description": "The status update value in the body of the request",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/StatusUpdate"
            }
          }
        }
      },
      "quotationToOrder": {
        "description": "The quotation to order value in the body of the request",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/QuotationToOrderPayload"
            }
          }
        }
      }
    }
  }
}