{
  "openapi": "3.0.1",
  "info": {
    "title": "SaleAPI",
    "description": "aka saleservice-external",
    "version": "2.12.1"
  },
  "servers": [
    {
      "url": "https://api.tilroy.com/saleapi/production"
    }
  ],
  "paths": {
    "/export/sales": {
      "get": {
        "summary": "get sales exports",
        "description": "The list with properties is not complete. You'll notice more properties then described in this document. Please only use the documented fields. **Undocumented fields can change or be deleted!**",
        "parameters": [
          {
            "$ref": "#/components/parameters/headerTilroyApiKey"
          },
          {
            "$ref": "#/components/parameters/headerXApiKey"
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/fields"
          },
          {
            "$ref": "#/components/parameters/queryDateExportedSince"
          },
          {
            "name": "dateFrom",
            "in": "query",
            "description": "filter results by the date the sale was created for export with format YYYY/MM/DD or YYYY-MM-DD - (Deprecated, use dateExportedSince)",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "2022/01/01"
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "headers": {
              "X-Paging-ItemsPerPage": {
                "description": "number of max items returned per page.",
                "schema": {
                  "type": "number"
                }
              },
              "X-Paging-ItemCount": {
                "description": "total number of items over all pages.",
                "schema": {
                  "type": "number"
                }
              },
              "X-Paging-PageCount": {
                "description": "total number of pages.",
                "schema": {
                  "type": "number"
                }
              },
              "X-Paging-CurrentPage": {
                "description": "number of the current page.",
                "schema": {
                  "type": "number"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SaleExport2"
                  }
                }
              }
            }
          },
          "400": {
            "description": "bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "internal (unexpected) error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "tags": [
          "export"
        ]
      }
    },
    "/export/saleshistory": {
      "get": {
        "summary": "get sales history exports",
        "description": "get sales history exports",
        "parameters": [
          {
            "$ref": "#/components/parameters/headerTilroyApiKey"
          },
          {
            "$ref": "#/components/parameters/headerXApiKey"
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/dateFrom"
          },
          {
            "$ref": "#/components/parameters/dateTo"
          },
          {
            "$ref": "#/components/parameters/shopId"
          },
          {
            "$ref": "#/components/parameters/customerId"
          },
          {
            "$ref": "#/components/parameters/language"
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "headers": {
              "X-Paging-ItemsPerPage": {
                "description": "number of max items returned per page.",
                "schema": {
                  "type": "number"
                }
              },
              "X-Paging-ItemCount": {
                "description": "total number of items over all pages.",
                "schema": {
                  "type": "number"
                }
              },
              "X-Paging-PageCount": {
                "description": "total number of pages.",
                "schema": {
                  "type": "number"
                }
              },
              "X-Paging-CurrentPage": {
                "description": "number of the current page.",
                "schema": {
                  "type": "number"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SaleHistoryExport"
                }
              }
            }
          },
          "400": {
            "description": "bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "internal (unexpected) error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "tags": [
          "export"
        ]
      }
    },
    "/export/suppliersales": {
      "get": {
        "summary": "get supplier sales exports",
        "description": "get supplier sales exports",
        "parameters": [
          {
            "$ref": "#/components/parameters/headerTilroyApiKey"
          },
          {
            "$ref": "#/components/parameters/headerXApiKey"
          },
          {
            "$ref": "#/components/parameters/headerSuplierApiKey"
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "name": "dateFrom",
            "in": "query",
            "description": "filter results by the date the sale was last updated with format YYYY/MM/DD or YYYY-MM-DD",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "2022/01/01"
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "headers": {
              "X-Paging-ItemsPerPage": {
                "description": "number of max items returned per page.",
                "schema": {
                  "type": "number"
                }
              },
              "X-Paging-ItemCount": {
                "description": "total number of items over all pages.",
                "schema": {
                  "type": "number"
                }
              },
              "X-Paging-PageCount": {
                "description": "total number of pages.",
                "schema": {
                  "type": "number"
                }
              },
              "X-Paging-CurrentPage": {
                "description": "number of the current page.",
                "schema": {
                  "type": "number"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SupplierSaleExport"
                  }
                }
              }
            }
          },
          "400": {
            "description": "bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "internal (unexpected) error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "tags": [
          "export"
        ]
      }
    },
    "/sales": {
      "get": {
        "summary": "get sales",
        "description": "Retrieve sales data with pagination support. **Customer filter required**: When using page-based pagination (page parameter), you must provide either customerSourceId or customerTilroyId. When using lastId-based pagination (lastId parameter), customer filters are optional.",
        "parameters": [
          {
            "$ref": "#/components/parameters/headerTilroyApiKey"
          },
          {
            "$ref": "#/components/parameters/headerXApiKey"
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/lastId"
          },
          {
            "$ref": "#/components/parameters/fields"
          },
          {
            "$ref": "#/components/parameters/sorting"
          },
          {
            "name": "customer",
            "in": "query",
            "description": "filter results by customer sourceId (required when using page-based pagination, optional when using lastId pagination)",
            "schema": {
              "type": "string"
            },
            "deprecated": true
          },
          {
            "name": "customerSourceId",
            "in": "query",
            "description": "filter results by customer sourceId (required when using page-based pagination, optional when using lastId pagination)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "customerTilroyId",
            "in": "query",
            "description": "filter results by customer tilroyId (required when using page-based pagination, optional when using lastId pagination)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dateFrom",
            "in": "query",
            "description": "filter results by daterange (must be accompanied by dateTo), dates are in ISO format and only days are taken into account",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dateTo",
            "in": "query",
            "description": "filter results by daterange (must be accompanied by dateFrom), dates are in ISO format and only days are taken into account",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderNumber",
            "in": "query",
            "description": "filter results by order number, requires customerTilroyId",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "excludeInvoiceLinks",
            "in": "query",
            "description": "exclude invoice.links array from the response to improve response times - when true, the invoice.links property will not be populated (default: false)",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "headers": {
              "X-Paging-ItemsPerPage": {
                "description": "number of max items returned per page.",
                "schema": {
                  "type": "number"
                }
              },
              "X-Paging-ItemCount": {
                "description": "total number of items over all pages.",
                "schema": {
                  "type": "number"
                }
              },
              "X-Paging-PageCount": {
                "description": "total number of pages.",
                "schema": {
                  "type": "number"
                }
              },
              "X-Paging-CurrentPage": {
                "description": "number of the current page.",
                "schema": {
                  "type": "number"
                }
              },
              "Link": {
                "description": "link header for pagination (only when using lastId parameter)",
                "schema": {
                  "type": "string"
                }
              },
              "Link-json": {
                "description": "JSON version of the link header for pagination (only when using lastId parameter)",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Sale"
                  }
                }
              }
            }
          },
          "400": {
            "description": "bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "internal (unexpected) error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "tags": [
          "sales"
        ]
      }
    },
    "/sales/{saleId}": {
      "get": {
        "summary": "get sale by tilroy id",
        "parameters": [
          {
            "$ref": "#/components/parameters/headerTilroyApiKey"
          },
          {
            "$ref": "#/components/parameters/headerXApiKey"
          },
          {
            "$ref": "#/components/parameters/saleId"
          },
          {
            "$ref": "#/components/parameters/returnPictureURL"
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleSale"
                }
              }
            }
          },
          "400": {
            "description": "bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "internal (unexpected) error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "tags": [
          "sales"
        ]
      },
      "put": {
        "summary": "update a sale by tilroy id",
        "parameters": [
          {
            "$ref": "#/components/parameters/headerTilroyApiKey"
          },
          {
            "$ref": "#/components/parameters/headerXApiKey"
          },
          {
            "$ref": "#/components/parameters/saleId"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/updateSalePayload"
        },
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SaleExport"
                }
              }
            }
          },
          "400": {
            "description": "bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "internal (unexpected) error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "tags": [
          "sales"
        ]
      }
    },
    "/import/sales": {
      "post": {
        "summary": "import sales into Tilroy.",
        "parameters": [
          {
            "$ref": "#/components/parameters/headerTilroyApiKey"
          },
          {
            "$ref": "#/components/parameters/headerXApiKey"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/salePayload"
        },
        "responses": {
          "200": {
            "description": "ok"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "tags": [
          "import"
        ]
      }
    },
    "/sales/{saleId}/sync": {
      "post": {
        "summary": "Sync sale data.",
        "parameters": [
          {
            "$ref": "#/components/parameters/headerTilroyApiKey"
          },
          {
            "$ref": "#/components/parameters/headerXApiKey"
          },
          {
            "$ref": "#/components/parameters/saleId"
          }
        ],
        "responses": {
          "200": {
            "description": "ok"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "tags": [
          "sync"
        ]
      }
    },
    "/loglevel": {
      "post": {
        "x-internal": true,
        "summary": "Set the loglevel for the service.",
        "parameters": [
          {
            "$ref": "#/components/parameters/headerTilroyApiKey"
          }
        ],
        "requestBody": {
          "description": "The logging level type in the body of the request",
          "content": {
            "*/*": {
              "schema": {
                "$ref": "#/components/schemas/LogLevel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "ok",
            "content": {}
          },
          "400": {
            "description": "bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "internal (unexpected) error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "tags": [
          "internal"
        ],
        "x-codegen-request-body-name": "loglevel"
      }
    }
  },
  "components": {
    "parameters": {
      "count": {
        "name": "count",
        "in": "query",
        "description": "max number of sales to be returned (default = 10, max = 100)",
        "schema": {
          "type": "string",
          "default": "10"
        }
      },
      "customer": {
        "name": "customer",
        "in": "query",
        "description": "filter results by customer sourceId",
        "schema": {
          "type": "string"
        }
      },
      "dateFrom": {
        "name": "dateFrom",
        "in": "query",
        "description": "filter results by daterange (must be accompanied by dateTo), dates are in ISO format and only days are taken into account",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "queryDateExportedSince": {
        "name": "dateExportedSince",
        "in": "query",
        "description": "filter results by the date the sale was created for export",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "dateTo": {
        "name": "dateTo",
        "in": "query",
        "description": "filter results by daterange (must be accompanied by dateFrom), dates are in ISO format and only days are taken into account",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "fields": {
        "name": "fields",
        "in": "query",
        "description": "filter out what you want returned for each sale by specifying one or more properties separated by a comma (ex. fields=idTilroySale,customer,shop.name)",
        "schema": {
          "type": "string"
        }
      },
      "returnPictureURL": {
        "name": "returnPictureURL",
        "in": "query",
        "description": "add picture URL to sale line if line has picture. Possible values are: 'true' and 'false'",
        "schema": {
          "type": "boolean",
          "default": false
        }
      },
      "sorting": {
        "name": "sorting",
        "in": "query",
        "description": "this is a comma seperated list in which you can define what fields you to sort by. Syntax is: 'sorting=field1:1,field2:-1,...'. Asc/Desc is specified by the value sign, 1 for asc., -1 for desc.",
        "required": false,
        "schema": {
          "type": "string"
        }
      },
      "headerTilroyApiKey": {
        "name": "Tilroy-Api-Key",
        "in": "header",
        "required": true,
        "description": "API key to identify and validate the tenant",
        "schema": {
          "type": "string"
        }
      },
      "headerXApiKey": {
        "name": "x-api-key",
        "in": "header",
        "required": true,
        "description": "API key of AWS",
        "schema": {
          "type": "string"
        }
      },
      "headerSuplierApiKey": {
        "name": "supplier-api-key",
        "in": "header",
        "required": true,
        "description": "API key of the Supplier",
        "schema": {
          "type": "string"
        }
      },
      "page": {
        "name": "page",
        "in": "query",
        "description": "page of results ot be returned (default = 1)",
        "schema": {
          "type": "string",
          "default": "1"
        }
      },
      "lastId": {
        "name": "lastId",
        "in": "query",
        "description": "Enables cursor-based pagination using sale IDs. Use empty value (?lastId=) to start cursor pagination, then use the last sale ID from previous response for subsequent requests. Cannot be used together with page parameter. When used, only Link and Link-JSON headers are returned (no X-Paging-* headers).",
        "schema": {
          "type": "string"
        },
        "examples": {
          "start_pagination": {
            "value": "",
            "summary": "Start cursor-based pagination"
          },
          "continue_pagination": {
            "value": "1230010033307",
            "summary": "Continue with specific sale ID"
          }
        }
      },
      "saleId": {
        "name": "saleId",
        "in": "path",
        "required": true,
        "description": "Tilroy Id of the Sale",
        "schema": {
          "type": "string"
        }
      },
      "shopId": {
        "name": "shopId",
        "in": "query",
        "required": false,
        "description": "Tilroy Id of the Shop",
        "schema": {
          "type": "string"
        }
      },
      "customerId": {
        "name": "customerId",
        "in": "query",
        "required": true,
        "description": "Tilroy Id of the Customer",
        "schema": {
          "type": "string"
        }
      },
      "language": {
        "name": "language",
        "in": "query",
        "required": true,
        "description": "language in the format NL/EN/DE/FR",
        "schema": {
          "type": "string"
        }
      }
    },
    "schemas": {
      "SaleExport": {
        "type": "object",
        "properties": {
          "idTilroySale": {
            "description": "unique sale reference Tilroy",
            "type": "string"
          },
          "type": {
            "description": "I=Invoice, N=Normal",
            "type": "string"
          },
          "status": {
            "description": "I=Invoice, N=Normal, P=Periodically Invoiced, R=Ready for invoicing",
            "type": "string"
          },
          "language": {
            "description": "ISO 639-1 code of language",
            "type": "string"
          },
          "transactionDiscountPercentage": {
            "description": "transaction discount percentage for this sale",
            "type": "number"
          },
          "transactionDiscountAmount": {
            "description": "transaction discount amount for this sale",
            "type": "number"
          },
          "basedOnSale": {
            "description": "Reference to the original sale in case of duplicate for invoice",
            "type": "string"
          },
          "customerCreditsOld": {
            "description": "Customer credits before sale",
            "type": "number"
          },
          "customerCreditsSale": {
            "description": "Customer credits from this sale",
            "type": "number"
          },
          "customerCreditsUsed": {
            "description": "Customer credits used in this sale",
            "type": "number"
          },
          "ppCustomerGroupID": {
            "description": "Prices&Promotions related fields",
            "type": "string"
          },
          "ppCustomerSiteID": {
            "description": "Prices&Promotions related fields",
            "type": "string"
          },
          "ppDeliveryID": {
            "description": "Prices&Promotions related fields",
            "type": "string"
          },
          "ppDeliveryMethodID": {
            "description": "Prices&Promotions related fields",
            "type": "string"
          },
          "ppDeliveryMultipleID": {
            "description": "Prices&Promotions related fields",
            "type": "string"
          },
          "ppDeliveryTimeID": {
            "description": "Prices&Promotions related fields",
            "type": "string"
          },
          "ppEmailOnlyCustomer": {
            "description": "Prices&Promotions related fields",
            "type": "boolean"
          },
          "ppLanguageID": {
            "description": "Prices&Promotions related fields",
            "type": "string"
          },
          "ppIsMember": {
            "description": "Prices&Promotions related fields",
            "type": "boolean"
          },
          "ppMemberCardShopID": {
            "description": "Prices&Promotions related fields",
            "type": "string"
          },
          "ppShopID": {
            "description": "Prices&Promotions related fields",
            "type": "string"
          },
          "ppZoneID": {
            "description": "Prices&Promotions related fields",
            "type": "string"
          },
          "ppPriceDelivery": {
            "description": "Prices&Promotions related fields",
            "type": "number"
          },
          "ppPriceDeliveryFixedDay": {
            "description": "Prices&Promotions related fields",
            "type": "number"
          },
          "ppPriceDeliveryMultiple": {
            "description": "Prices&Promotions related fields",
            "type": "number"
          },
          "ppPriceDeliveryNextDay": {
            "description": "Prices&Promotions related fields",
            "type": "number"
          },
          "ppPriceDeliveryNormal": {
            "description": "Prices&Promotions related fields",
            "type": "number"
          },
          "ppMemberCardFrom": {
            "description": "Prices&Promotions related fields",
            "type": "string"
          },
          "idTillBasket": {
            "description": "internal fields of Tilroy",
            "type": "string"
          },
          "idShopMoneyLocation": {
            "description": "internal fields of Tilroy",
            "type": "string"
          },
          "seal": {
            "description": "Seal of the sale",
            "type": "string"
          },
          "sealNumber": {
            "description": "seal sequence number of the sale in the shop. Used to calculate the seal",
            "type": "number"
          },
          "eTicket": {
            "description": "E-Ticket was requested for this sale",
            "type": "boolean"
          },
          "customerCode": {
            "type": "string"
          },
          "customerFirstName": {
            "type": "string"
          },
          "customerSurName": {
            "type": "string"
          },
          "customerCompanyName": {
            "type": "string"
          },
          "customerAddress1": {
            "type": "string"
          },
          "customerAddress2": {
            "type": "string"
          },
          "customerAddress3": {
            "type": "string"
          },
          "customerAddress4": {
            "type": "string"
          },
          "customerAddress5": {
            "type": "string"
          },
          "customerHouseNumber": {
            "type": "string"
          },
          "customerBox": {
            "type": "string"
          },
          "customerPostalCode": {
            "type": "string"
          },
          "customerCity": {
            "type": "string"
          },
          "customerCountry": {
            "type": "string"
          },
          "customerVatNumber": {
            "type": "string"
          },
          "customerCard": {
            "type": "string"
          },
          "customerEmail": {
            "type": "string"
          },
          "ogoneReference": {
            "description": "Ogone reference of the payment in case of web order",
            "type": "string"
          },
          "isVatInclusive": {
            "description": "indicates if prices in sale are VAT inculsive or VAT exclusive",
            "type": "boolean"
          },
          "isPeriodicInvoicing": {
            "description": "indicates this sale will be invoiced with periodical invoice",
            "type": "boolean"
          },
          "orderNumber": {
            "description": "Reference to the web order number",
            "type": "string"
          },
          "isDispatch": {
            "description": "Indicates this a dispatch sale for a web order",
            "type": "boolean"
          },
          "deliveryDate": {
            "description": "Requested delivery date in case of web order",
            "type": "string"
          },
          "deliveryTrackingCode": {
            "description": "Tracking code in case of home delivery",
            "type": "string"
          },
          "emailPickupPoint": {
            "description": "Mail adress of the pickup point in case of delivery to a pickup point",
            "type": "string"
          },
          "vatExempt": {
            "description": "indicates this is a sale that complies to the rules for VAT exemption",
            "type": "boolean"
          },
          "saleDate": {
            "description": "Date of the sale in local time zone",
            "type": "string"
          },
          "timestamp": {
            "description": "Date of the sale in UTC",
            "type": "string"
          },
          "shop": {
            "description": "shop of the sale",
            "$ref": "#/components/schemas/Shop"
          },
          "legalEntity": {
            "description": "legal entity of the sale",
            "$ref": "#/components/schemas/LegalEntity"
          },
          "user": {
            "description": "user created the sale",
            "$ref": "#/components/schemas/User"
          },
          "customer": {
            "description": "customer reference",
            "$ref": "#/components/schemas/Customer"
          },
          "till": {
            "description": "Till of the sale",
            "$ref": "#/components/schemas/Till"
          },
          "discountReason": {
            "$ref": "#/components/schemas/DiscountReason"
          },
          "currencyData": {
            "$ref": "#/components/schemas/CurrencyData"
          },
          "invoice": {
            "description": "Invoice Reference",
            "$ref": "#/components/schemas/Invoice"
          },
          "lines": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SaleLineExport"
            }
          },
          "payments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PaymentExport",
              "description": "payments linked to this sale"
            }
          },
          "vouchers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/VoucherExport",
              "description": "vouchers used in this sale"
            }
          },
          "vat": {
            "description": "List of VAT for this sale, for each VAT percentage/VAT kind type",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/VatItem"
            }
          },
          "vatType": {
            "$ref": "#/components/schemas/VatType"
          },
          "InvoiceMethod": {
            "$ref": "#/components/schemas/InvoiceMethod"
          },
          "paymentCondition": {
            "$ref": "#/components/schemas/PaymentCondition"
          },
          "deliveryAddress": {
            "description": "delivery address in case of home delivery order",
            "$ref": "#/components/schemas/Address"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          },
          "intrastats": {
            "$ref": "#/components/schemas/Intrastats"
          },
          "basedOnSales": {
            "description": "list of sales grouped to create this sale",
            "type": "object",
            "properties": {
              "idSale": {
                "description": "reference of the original sale",
                "type": "string"
              }
            }
          }
        }
      },
      "SaleExport2": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/SaleExport"
          },
          {
            "type": "object",
            "properties": {
              "dateExported": {
                "type": "string",
                "format": "date-time"
              }
            }
          }
        ]
      },
      "SingleSale": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/Sale"
          },
          {
            "type": "object",
            "properties": {
              "lines": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/SingleSaleLine"
                }
              }
            }
          }
        ]
      },
      "Sale": {
        "type": "object",
        "properties": {
          "invoiceRequested": {
            "type": "object",
            "properties": {
              "status": {
                "type": "boolean"
              }
            }
          },
          "eTicket": {
            "description": "E-Ticket was requested for this sale",
            "type": "boolean"
          },
          "idTilroySale": {
            "type": "string"
          },
          "idTenant": {
            "type": "string"
          },
          "customer": {
            "$ref": "#/components/schemas/Customer"
          },
          "idSourceCustomer": {
            "type": "string"
          },
          "shop": {
            "$ref": "#/components/schemas/Shop"
          },
          "till": {
            "description": "Till of the sale",
            "$ref": "#/components/schemas/Till"
          },
          "saleDate": {
            "description": "Date of the sale in local time zone",
            "type": "string"
          },
          "totalAmountStandard": {
            "type": "number"
          },
          "totalAmountSell": {
            "type": "number"
          },
          "totalAmountDiscount": {
            "type": "number"
          },
          "totalAmountSellRounded": {
            "type": "number"
          },
          "totalAmountSellRoundedPart": {
            "type": "number"
          },
          "totalAmountSellNotRoundedPart": {
            "type": "number"
          },
          "lines": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SaleLine"
            }
          },
          "totalAmountPaid": {
            "type": "number"
          },
          "payments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Payment",
              "description": "payments linked to this sale"
            }
          },
          "vouchers": {
            "description": "vouchers used in this sale",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Voucher"
            }
          },
          "vat": {
            "description": "List of VAT for this sale, for each VAT percentage/VAT kind type",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/VatItem"
            }
          },
          "activations": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "credits": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Credit"
            }
          },
          "saleCredits": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SaleCredit"
            }
          },
          "transactionDiscountPercentage": {
            "description": "transaction discount percentage for this sale",
            "type": "number"
          },
          "ppCustomerGroupID": {
            "type": "string"
          },
          "ppCustomerSiteID": {
            "type": "string"
          },
          "ppDeliveryID": {
            "type": "string"
          },
          "ppDeliveryMethodID": {
            "type": "string"
          },
          "ppDeliveryMultipleID": {
            "type": "string"
          },
          "ppDeliveryTimeID": {
            "type": "string"
          },
          "ppEmailOnlyCustomer": {
            "type": "boolean"
          },
          "ppLanguageID": {
            "type": "string"
          },
          "ppIsMember": {
            "type": "boolean"
          },
          "ppMemberCardFrom": {
            "type": "string"
          },
          "ppMemberCardShopID": {
            "type": "string"
          },
          "ppShopID": {
            "type": "string"
          },
          "ppZoneID": {
            "type": "string"
          },
          "ppPriceDelivery": {
            "type": "number"
          },
          "ppPriceDeliveryFixedDay": {
            "type": "number"
          },
          "ppPriceDeliveryMultiple": {
            "type": "number"
          },
          "ppPriceDeliveryNextDay": {
            "type": "number"
          },
          "ppPriceDeliveryNormal": {
            "type": "number"
          },
          "deliveryAddress": {
            "$ref": "#/components/schemas/Address"
          },
          "type": {
            "description": "I=Invoice, N=Normal",
            "type": "string"
          },
          "basedOnSale": {
            "description": "Reference to the original sale in case of duplicate for invoice",
            "type": "string"
          },
          "customerPhone": {
            "type": "string"
          },
          "customerMobile": {
            "type": "string"
          },
          "customerIdCountry": {
            "type": "string"
          },
          "customerCard": {
            "type": "string"
          },
          "customerIdTitle": {
            "type": "string"
          },
          "customerTitle": {
            "type": "string"
          },
          "discountReason": {
            "$ref": "#/components/schemas/DiscountReason"
          },
          "idTillBasket": {
            "type": "number"
          },
          "customerCreditsOld": {
            "type": "number"
          },
          "customerCreditsSale": {
            "type": "number"
          },
          "customerCreditsUsed": {
            "type": "number"
          },
          "noNextSaleDiscount": {
            "type": "boolean"
          },
          "ogoneReference": {
            "description": "Ogone reference of the payment in case of web order",
            "type": "string"
          },
          "customerFirstName": {
            "type": "string"
          },
          "customerMiddleName": {
            "type": "string"
          },
          "customerSurName": {
            "type": "string"
          },
          "customerCompanyName": {
            "type": "string"
          },
          "customerCode": {
            "type": "string"
          },
          "customerAddress1": {
            "type": "string"
          },
          "customerAddress2": {
            "type": "string"
          },
          "customerAddress3": {
            "type": "string"
          },
          "customerAddress4": {
            "type": "string"
          },
          "customerAddress5": {
            "type": "string"
          },
          "customerHouseNumber": {
            "type": "string"
          },
          "customerBox": {
            "type": "string"
          },
          "customerCity": {
            "type": "string"
          },
          "customerPostalCode": {
            "type": "string"
          },
          "customerCounty": {
            "type": "string"
          },
          "customerCountry": {
            "type": "string"
          },
          "customerVatNumber": {
            "type": "string"
          },
          "customerEmail": {
            "type": "string"
          },
          "emailPickupPoint": {
            "description": "Mail adress of the pickup point in case of delivery to a pickup point",
            "type": "string"
          },
          "idLanguage": {
            "type": "number"
          },
          "orderNumber": {
            "description": "Reference to the web order number",
            "type": "string"
          },
          "priceType": {
            "type": "string"
          },
          "isVatInclusive": {
            "description": "indicates if prices in sale are VAT inculsive or VAT exclusive",
            "type": "boolean"
          },
          "isDispatch": {
            "description": "Indicates this a dispatch sale for a web order",
            "type": "boolean"
          },
          "deliveryDate": {
            "type": "string"
          },
          "cashDiscount": {
            "type": "number"
          },
          "cashDiscountDays": {
            "type": "number"
          },
          "paymentCondition": {
            "$ref": "#/components/schemas/PaymentCondition"
          },
          "expirationDate": {
            "type": "string"
          },
          "vatType": {
            "$ref": "#/components/schemas/VatType"
          },
          "vatExempt": {
            "description": "indicates this is a sale that complies to the rules for VAT exemption",
            "type": "boolean"
          },
          "isPeriodicInvoicing": {
            "description": "indicates this sale will be invoiced with periodical invoice",
            "type": "boolean"
          },
          "status": {
            "type": "string"
          },
          "transactionDiscountAmount": {
            "description": "transaction discount amount for this sale",
            "type": "number"
          },
          "basedOnSales": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "invoiceMethod": {
            "$ref": "#/components/schemas/InvoiceMethod"
          },
          "legalEntity": {
            "$ref": "#/components/schemas/LegalEntity"
          },
          "isOffline": {
            "type": "boolean"
          },
          "offlineTimestamp": {
            "type": "string"
          },
          "idShopMoneyLocation": {
            "type": "number"
          },
          "orderId": {
            "type": "string"
          },
          "seal": {
            "description": "Seal of the sale",
            "type": "string"
          },
          "sealNumber": {
            "description": "seal sequence number of the sale in the shop. Used to calculate the seal",
            "type": "number"
          },
          "dispatchMethod": {
            "type": "string"
          },
          "numberOfCollis": {
            "type": "number"
          },
          "additionalInfo": {
            "type": "string"
          },
          "externalReference": {
            "type": "string"
          },
          "ppDisable": {
            "type": "boolean"
          },
          "refundPaymentName": {
            "type": "string"
          },
          "refundPaymentAccount": {
            "type": "string"
          },
          "refundPaymentText": {
            "type": "string"
          },
          "externalLoyaltyInfo": {
            "type": "string"
          },
          "externalLoyaltyReference": {
            "type": "string"
          },
          "externalLoyaltyCredits": {
            "type": "number"
          },
          "activationCode": {
            "type": "string"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          },
          "currency": {
            "type": "number"
          },
          "currencyData": {
            "$ref": "#/components/schemas/CurrencyData"
          },
          "user": {
            "description": "user created the sale",
            "$ref": "#/components/schemas/User"
          },
          "timestamp": {
            "description": "Date of the sale in UTC",
            "type": "string"
          },
          "invoice": {
            "$ref": "#/components/schemas/Invoice"
          },
          "invoice2": {
            "$ref": "#/components/schemas/Invoice"
          },
          "anonymous": {
            "type": "boolean"
          },
          "IdCustomerNSDOtherCustomer": {
            "type": "string"
          },
          "isReturnRemake": {
            "type": "boolean"
          },
          "isReturn": {
            "type": "boolean"
          },
          "idPickupPoint": {
            "type": "string"
          },
          "barcode": {
            "type": "string"
          },
          "language": {
            "description": "ISO 639-1 code of language",
            "type": "string"
          },
          "deliveryTrackingCode": {
            "type": "string"
          },
          "duplicatedForInvoice": {
            "type": "boolean"
          },
          "idSourceDiscountReason": {
            "type": "string"
          },
          "customerCountryCode": {
            "type": "string"
          },
          "idSourceShop": {
            "type": "string"
          },
          "idSourceTill": {
            "type": "string"
          },
          "idSourceUser": {
            "type": "string"
          },
          "activationText": {
            "type": "string"
          },
          "reInvoiced": {
            "type": "boolean"
          },
          "id": {
            "type": "string"
          }
        }
      },
      "SingleSaleLine": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/SaleLine"
          }
        ],
        "properties": {
          "pictureURL": {
            "type": "string",
            "description": "product's picture URL"
          }
        }
      },
      "SaleLine": {
        "type": "object",
        "properties": {
          "collectMethod": {
            "$ref": "#/components/schemas/CollectMethod"
          },
          "_id": {
            "type": "string"
          },
          "idTilroySaleLine": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "sku": {
            "$ref": "#/components/schemas/Sku"
          },
          "description": {
            "type": "string"
          },
          "quantity": {
            "type": "number"
          },
          "quantityReturned": {
            "type": "number"
          },
          "quantityNet": {
            "type": "number"
          },
          "costPrice": {
            "type": "number"
          },
          "sellPrice": {
            "type": "number"
          },
          "standardPrice": {
            "type": "number"
          },
          "promoPrice": {
            "type": "number"
          },
          "rrp": {
            "type": "number"
          },
          "discount": {
            "type": "number"
          },
          "discountType": {
            "type": "number"
          },
          "lineTotalCost": {
            "type": "number"
          },
          "lineTotalStandard": {
            "type": "number"
          },
          "lineTotalSell": {
            "type": "number"
          },
          "lineTotalDiscount": {
            "type": "number"
          },
          "lineTotalVatExcl": {
            "type": "number"
          },
          "lineTotalVat": {
            "type": "number"
          },
          "maxDiscount": {
            "type": "number"
          },
          "transformedToProduct": {
            "type": "boolean"
          },
          "transformedIdPaymentType": {
            "type": "string"
          },
          "idTransactionLine": {
            "type": "number"
          },
          "orderId": {
            "type": "string"
          },
          "orderLineId": {
            "type": "string"
          },
          "depositValue": {
            "type": "number"
          },
          "vatPercentage": {
            "type": "number"
          },
          "discountTransaction": {
            "type": "number"
          },
          "discountReason": {
            "$ref": "#/components/schemas/DiscountReason"
          },
          "priceTransactionDiscount": {
            "type": "number"
          },
          "priceLineDiscount": {
            "type": "number"
          },
          "returnReason": {
            "$ref": "#/components/schemas/ReturnReason"
          },
          "code": {
            "type": "string"
          },
          "comments": {
            "type": "string"
          },
          "serialNumberSale": {
            "type": "string"
          },
          "serialNumberSaleActivator": {
            "type": "string"
          },
          "promotionName": {
            "type": "string"
          },
          "idSaleLineReturned": {
            "type": "string"
          },
          "idRepair": {
            "type": "number"
          },
          "idTillBasketLineOrig": {
            "type": "string"
          },
          "idTillBasketLine": {
            "type": "number"
          },
          "webDescription": {
            "type": "string"
          },
          "colour": {
            "type": "string"
          },
          "size": {
            "type": "string"
          },
          "ppPriceBundle": {
            "type": "number"
          },
          "ppPriceBuyAndGet": {
            "type": "number"
          },
          "ppPriceExceptional": {
            "type": "number"
          },
          "ppPriceLineDiscount": {
            "type": "number"
          },
          "ppPriceManual": {
            "type": "number"
          },
          "ppPricePromo": {
            "type": "number"
          },
          "ppPriceSellGross": {
            "type": "number"
          },
          "ppPriceSet": {
            "type": "number"
          },
          "ppBundleApplied": {
            "type": "boolean"
          },
          "ppBundleDealID": {
            "type": "string"
          },
          "ppBundleLineParent": {
            "type": "boolean"
          },
          "ppActionID": {
            "type": "string"
          },
          "ppBuyAndGetID": {
            "type": "string"
          },
          "ppCopyFrom": {
            "type": "string"
          },
          "ppDiscountReasonID": {
            "type": "string"
          },
          "ppExceptionalPriceID": {
            "type": "string"
          },
          "ppInBuying": {
            "type": "boolean"
          },
          "ppLineDiscountID": {
            "type": "string"
          },
          "ppReturnIncentiveID": {
            "type": "string"
          },
          "ppSetID": {
            "type": "string"
          },
          "ppTriggerID": {
            "type": "string"
          },
          "basedOnSale": {
            "type": "string"
          },
          "basedOnSaleLine": {
            "type": "string"
          },
          "generateVoucher": {
            "type": "boolean"
          },
          "isAdvance": {
            "type": "boolean"
          },
          "standardUnitPrice": {
            "type": "number"
          },
          "order": {
            "$ref": "#/components/schemas/Order"
          },
          "collectShop": {
            "description": "contains shop info in case of C&C order",
            "$ref": "#/components/schemas/Shop"
          },
          "idRental": {
            "type": "string"
          },
          "reservationReference": {
            "type": "string"
          },
          "reservation": {
            "type": "boolean"
          },
          "configuratorType": {
            "type": "string"
          },
          "configuratorCode": {
            "type": "string"
          },
          "linkedObjectBarcode": {
            "type": "string"
          },
          "linkedObjectDisplayValue": {
            "type": "string"
          },
          "linkedObjectReference": {
            "type": "string"
          },
          "linkedObjectReferenceType": {
            "type": "string"
          },
          "netWeight": {
            "type": "number"
          },
          "useInNextSaleDiscountCalculations": {
            "type": "boolean"
          },
          "generateActivationCode": {
            "type": "boolean"
          },
          "standardPriceOrig": {
            "type": "number"
          },
          "stockIsReserved": {
            "type": "boolean"
          },
          "lineNumber": {
            "type": "number"
          },
          "timestamp": {
            "type": "string"
          },
          "picture": {
            "type": "string"
          },
          "quantityPack": {
            "type": "number"
          },
          "intrastatCode": {
            "type": "string"
          },
          "ean": {
            "type": "string"
          },
          "isMasterLine": {
            "type": "boolean"
          },
          "amountOpen": {
            "type": "number"
          },
          "manualPrice": {
            "type": "number"
          },
          "taxes": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "salesOrigin": {
            "type": "string"
          },
          "idSourceDiscountReason": {
            "type": "string"
          },
          "idSourceReturnReason": {
            "type": "string"
          },
          "idSourceSku": {
            "type": "string"
          }
        }
      },
      "SaleHistoryExport": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "saleId": {
              "type": "string"
            },
            "saleDate": {
              "type": "string",
              "format": "date-time"
            },
            "shop": {
              "type": "string"
            },
            "isVatInclusive": {
              "type": "boolean"
            },
            "invoiceNumber": {
              "type": "string"
            },
            "orderNumbers": {
              "type": "object",
              "properties": {
                "clickAndCollects": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "homeDeliveries": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "dispatches": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "pickups": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            },
            "totals": {
              "type": "object",
              "properties": {
                "quantity": {
                  "type": "number"
                },
                "priceStandard": {
                  "type": "number"
                },
                "priceSell": {
                  "type": "number"
                },
                "discount": {
                  "type": "number"
                }
              }
            },
            "lines": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "product": {
                    "type": "object",
                    "properties": {
                      "description": {
                        "type": "string"
                      },
                      "code": {
                        "type": "string"
                      },
                      "colour": {
                        "type": "string"
                      },
                      "size": {
                        "type": "string"
                      },
                      "brand": {
                        "type": "string"
                      },
                      "pictureURL": {
                        "type": "string",
                        "description": "product's picture URL"
                      }
                    }
                  },
                  "type": {
                    "type": "string"
                  },
                  "serialNumber": {
                    "type": "string"
                  },
                  "coments": {
                    "type": "string"
                  },
                  "quantity": {
                    "type": "number"
                  },
                  "vatPercentage": {
                    "type": "number"
                  },
                  "priceSell": {
                    "type": "number"
                  },
                  "priceStandard": {
                    "type": "number"
                  },
                  "discount": {
                    "type": "number"
                  },
                  "priceSellTotal": {
                    "type": "number"
                  },
                  "project": {
                    "type": "object",
                    "properties": {
                      "idTilroy": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      }
                    }
                  },
                  "isClickAndCollect": {
                    "type": "boolean"
                  },
                  "isHomeDelivery": {
                    "type": "boolean"
                  },
                  "isPickup": {
                    "type": "boolean"
                  },
                  "isDispatch": {
                    "type": "boolean"
                  },
                  "orderNumber": {
                    "type": "number"
                  },
                  "retourReason": {
                    "type": "string"
                  }
                }
              }
            },
            "payments": {
              "type": "array",
              "items": {
                "properties": {
                  "amount": {
                    "type": "number"
                  },
                  "paymentType": {
                    "type": "object",
                    "properties": {
                      "code": {
                        "type": "string"
                      },
                      "description": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "Order": {
        "type": "object",
        "properties": {
          "standardPrice": {
            "description": "standard price of the sku ordered",
            "type": "number"
          },
          "sellPrice": {
            "description": "sell price of the sku ordered",
            "type": "number"
          },
          "quantity": {
            "description": "quantity of the sku ordered",
            "type": "number"
          },
          "discount": {
            "description": "discount for the sku ordered",
            "type": "number"
          },
          "discountType": {
            "description": "discounttype for the sku ordered",
            "type": "number"
          },
          "idDiscountReason": {
            "type": "number"
          },
          "idSku": {
            "description": "id of the sku ordered",
            "type": "number"
          },
          "rrp": {
            "type": "number"
          },
          "idSourceSku": {
            "description": "id of the sku ordered",
            "type": "number"
          }
        }
      },
      "Payment": {
        "type": "object",
        "properties": {
          "idTilroySalePayment": {
            "type": "string"
          },
          "paymentType": {
            "$ref": "#/components/schemas/PaymentType"
          },
          "amount": {
            "type": "number"
          },
          "paymentReference": {
            "description": "reference of the voucher in case of advance, gift voucher, credit voucher, loyalty voucher",
            "type": "string"
          },
          "czamReference": {
            "description": "reference of the electronic payment",
            "type": "string"
          },
          "czamTicket": {
            "description": "electronic payment info",
            "type": "string"
          },
          "czamSignatureRequired": {
            "description": "Signature of customer required Y/N",
            "type": "boolean"
          },
          "idRepair": {
            "type": "number"
          },
          "idTillBasketLine": {
            "type": "number"
          },
          "idTilroySaleLine": {
            "type": "string"
          },
          "advanceSource": {
            "type": "string"
          },
          "advanceReference": {
            "description": "reference filled by user in case of manual advance",
            "type": "string"
          },
          "idCollectMethod": {
            "type": "number"
          },
          "idSkuTransform": {
            "type": "string"
          },
          "amountOpen": {
            "type": "number"
          },
          "idRental": {
            "type": "string"
          },
          "isRembours": {
            "type": "boolean"
          },
          "linkedObjectBarcode": {
            "type": "string"
          },
          "linkedObjectDisplayValue": {
            "type": "string"
          },
          "linkedObjectReference": {
            "type": "string"
          },
          "linkedObjectReferenceType": {
            "type": "string"
          },
          "timestamp": {
            "type": "string"
          },
          "isRounding": {
            "type": "boolean"
          },
          "idSourcePaymentType": {
            "type": "string"
          }
        }
      },
      "Voucher": {
        "type": "object",
        "properties": {
          "idTilroySaleVoucher": {
            "type": "string"
          },
          "voucher": {
            "type": "string"
          },
          "used": {
            "type": "boolean"
          },
          "runId": {
            "type": "string"
          },
          "activationId": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "discountVoucherId": {
            "type": "string"
          },
          "customerRequired": {
            "description": "voucher can only be used by specified customer",
            "type": "boolean"
          },
          "identificationRequired": {
            "type": "string"
          },
          "ppActivationId": {
            "description": "internal fields of Tilroy",
            "type": "string"
          },
          "tenantId": {
            "type": "number"
          },
          "linkedObjectBarcode": {
            "type": "string"
          },
          "linkedObjectDisplayValue": {
            "type": "string"
          },
          "linkedObjectReference": {
            "type": "string"
          },
          "linkedObjectReferenceType": {
            "type": "string"
          },
          "voucherId": {
            "type": "string"
          },
          "saleVoucherId": {
            "type": "string"
          },
          "isUsed": {
            "type": "boolean"
          },
          "timestamp": {
            "type": "string"
          }
        }
      },
      "Credit": {
        "type": "object",
        "properties": {
          "idTilroy": {
            "type": "string"
          },
          "amount": {
            "type": "number"
          },
          "idReturnIncentive": {
            "type": "string"
          },
          "isExternal": {
            "type": "boolean"
          },
          "idAction": {
            "type": "string"
          },
          "idTrigger": {
            "type": "string"
          }
        }
      },
      "SaleCredit": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "tenantId": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "saleCreditId": {
            "type": "string"
          },
          "reference": {
            "type": "string"
          },
          "referenceAlias": {
            "type": "string"
          },
          "webCode": {
            "type": "string"
          },
          "customer": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              }
            }
          },
          "paymentTypeId": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "amount": {
            "type": "number"
          },
          "amountOpen": {
            "type": "number"
          },
          "saleIdCreated": {
            "type": "string"
          },
          "saleLineCreatedId": {
            "type": "string"
          },
          "salePaymentCreatedId": {
            "type": "string"
          },
          "dateStart": {
            "type": "string"
          },
          "dateEnd": {
            "type": "string"
          },
          "status": {
            "description": "I=Invoice, N=Normal, P=Periodically Invoiced, R=Ready for invoicing",
            "type": "string"
          },
          "usage": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "isSingleUse": {
            "type": "boolean"
          },
          "printVoucher": {
            "type": "boolean"
          },
          "generateReference": {
            "type": "boolean"
          },
          "collectMethodId": {
            "type": "string"
          },
          "repairId": {
            "type": "string"
          },
          "buId": {
            "type": "string"
          },
          "legalEntityId": {
            "type": "string"
          },
          "shopId": {
            "type": "string"
          },
          "userId": {
            "type": "string"
          },
          "picture": {
            "type": "string"
          },
          "comments": {
            "type": "string"
          },
          "fileName": {
            "type": "string"
          },
          "tillBasketLineId": {
            "type": "string"
          },
          "voucherRunId": {
            "type": "string"
          },
          "dateActivation": {
            "type": "string"
          },
          "dateCreated": {
            "type": "string"
          }
        }
      },
      "LegalEntity": {
        "type": "object",
        "properties": {
          "idTilroy": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "idTilroy": {
            "type": "string"
          },
          "idSource": {
            "type": "string"
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "login": {
            "type": "string"
          }
        }
      },
      "Customer": {
        "type": "object",
        "properties": {
          "idTilroy": {
            "type": "string"
          },
          "idSource": {
            "type": "string"
          }
        }
      },
      "Till": {
        "type": "object",
        "properties": {
          "idTilroy": {
            "type": "string"
          },
          "idSource": {
            "type": "string"
          },
          "number": {
            "type": "number"
          }
        }
      },
      "CurrencyData": {
        "type": "object",
        "properties": {
          "idTilroy": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "sign": {
            "type": "string"
          }
        }
      },
      "Invoice": {
        "type": "object",
        "properties": {
          "idTilroyInvoice": {
            "type": "string"
          },
          "number": {
            "type": "string"
          },
          "invoiceDate": {
            "description": "Date of the invoice",
            "type": "string"
          },
          "expirationDate": {
            "description": "Expiration date of the invoice",
            "type": "string"
          },
          "idSourceCustomer": {
            "type": "string"
          },
          "customerCode": {
            "type": "string"
          },
          "customerFirstName": {
            "type": "string"
          },
          "customerSurName": {
            "type": "string"
          },
          "customerAddress1": {
            "type": "string"
          },
          "customerAddress2": {
            "type": "string"
          },
          "customerAddress3": {
            "type": "string"
          },
          "customerAddress4": {
            "type": "string"
          },
          "customerAddress5": {
            "type": "string"
          },
          "customerPostalCode": {
            "type": "string"
          },
          "customerCity": {
            "type": "string"
          },
          "customerCountry": {
            "type": "string"
          },
          "customerVatNumber": {
            "type": "string"
          },
          "customerCompanyName": {
            "type": "string"
          },
          "customerBox": {
            "type": "string"
          },
          "customerHouseNumber": {
            "type": "string"
          },
          "cashDiscount": {
            "description": "cash discount percentage",
            "type": "number"
          },
          "cashDiscountDays": {
            "description": "number of days cash discount is valid",
            "type": "number"
          },
          "isPeriodicInvoicing": {
            "description": "Indicates if it is a grouped invoice (by month)",
            "type": "boolean"
          },
          "links": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string",
                  "example": "https://link/to/invoice/invoice.pdf"
                },
                "fileName": {
                  "type": "string",
                  "example": "invoice.pdf"
                }
              }
            }
          }
        }
      },
      "SaleLineExport": {
        "type": "object",
        "properties": {
          "idTilroySaleLine": {
            "type": "string"
          },
          "idSourceReturnReason": {
            "description": "use returnReason.idSource",
            "type": "string"
          },
          "idSourceDiscountReason": {
            "description": "use discountReason.idSource",
            "type": "string"
          },
          "stockIsReserved": {
            "description": "internal use Tilroy",
            "type": "string"
          },
          "idSourceSku": {
            "description": "use sku.idSource",
            "type": "string"
          },
          "lineNumber": {
            "type": "number"
          },
          "type": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "code": {
            "description": "code of the product",
            "type": "string"
          },
          "discount": {
            "description": "applied discount for this sales line. Discount explains type of discount",
            "type": "number"
          },
          "costPrice": {
            "description": "cost price of the sku",
            "type": "number"
          },
          "quantity": {
            "description": "number of skus sold",
            "type": "number"
          },
          "sellPrice": {
            "description": "sell price of the sku",
            "type": "number"
          },
          "vatPercentage": {
            "description": "VAT percentage for the sku",
            "type": "number"
          },
          "standardPrice": {
            "description": "standard price of the sku for the quantity of the line",
            "type": "number"
          },
          "promoPrice": {
            "description": "promo price of the sku",
            "type": "number"
          },
          "manualPrice": {
            "description": "manually modified price of the sku",
            "type": "number"
          },
          "comments": {
            "type": "string"
          },
          "idSaleLineReturned": {
            "description": "reference of returned sale line in case of a return",
            "type": "string"
          },
          "discountType": {
            "description": "0=no discount; 1=percentage discount; 2=discount amount; 3=Promo",
            "type": "number"
          },
          "maxDiscount": {
            "description": "maximum discount for this sku",
            "type": "number"
          },
          "isAdvance": {
            "description": "line is the sale of an advance",
            "type": "boolean"
          },
          "ppPriceBundle": {
            "description": "Prices&Promotions related fields",
            "type": "number"
          },
          "ppPriceBuyAndGet": {
            "description": "Prices&Promotions related fields",
            "type": "number"
          },
          "ppPriceExceptional": {
            "description": "Prices&Promotions related fields",
            "type": "number"
          },
          "ppPriceLineDiscount": {
            "description": "Prices&Promotions related fields",
            "type": "number"
          },
          "ppPriceManual": {
            "description": "Prices&Promotions related fields",
            "type": "number"
          },
          "ppPricePromo": {
            "description": "Prices&Promotions related fields",
            "type": "number"
          },
          "ppPriceSellGross": {
            "description": "Prices&Promotions related fields",
            "type": "number"
          },
          "ppPriceSet": {
            "description": "Prices&Promotions related fields",
            "type": "number"
          },
          "ppBundleApplied": {
            "description": "Prices&Promotions related fields",
            "type": "boolean"
          },
          "ppBundleDealID": {
            "description": "Prices&Promotions related fields",
            "type": "string"
          },
          "ppBundleLineParent": {
            "description": "Prices&Promotions related fields",
            "type": "boolean"
          },
          "ppActionID": {
            "description": "Prices&Promotions related fields",
            "type": "string"
          },
          "ppBuyAndGetID": {
            "description": "Prices&Promotions related fields",
            "type": "string"
          },
          "ppCopyFrom": {
            "description": "Prices&Promotions related fields",
            "type": "string"
          },
          "ppDiscountReasonID": {
            "description": "Prices&Promotions related fields",
            "type": "string"
          },
          "ppExceptionalPriceID": {
            "description": "Prices&Promotions related fields",
            "type": "string"
          },
          "ppInBuying": {
            "description": "Prices&Promotions related fields",
            "type": "boolean"
          },
          "ppLineDiscountID": {
            "description": "Prices&Promotions related fields",
            "type": "string"
          },
          "ppReturnIncentiveID": {
            "description": "Prices&Promotions related fields",
            "type": "string"
          },
          "ppSetID": {
            "description": "Prices&Promotions related fields",
            "type": "string"
          },
          "ppTriggerID": {
            "description": "Prices&Promotions related fields",
            "type": "string"
          },
          "orderId": {
            "description": "Order id reference (order id depending on implementation)",
            "type": "string"
          },
          "orderLineId": {
            "description": "Order line id reference  (order line id depending on implementation)",
            "type": "string"
          },
          "quantityNet": {
            "description": "quantity - number of items returned",
            "type": "number"
          },
          "serialNumberSale": {
            "description": "serial number registered on the sale",
            "type": "string"
          },
          "standardUnitPrice": {
            "description": "standard price for one item of the sku",
            "type": "number"
          },
          "pictureURL": {
            "description": "product's picture URL",
            "type": "string"
          },
          "order": {
            "$ref": "#/components/schemas/OrderExport"
          },
          "collectMethod": {
            "$ref": "#/components/schemas/CollectMethod"
          },
          "collectShop": {
            "description": "contains shop info in case of C&C order",
            "$ref": "#/components/schemas/Shop"
          },
          "discountReason": {
            "description": "line discount reason in case of discount with fixed discount reasons",
            "$ref": "#/components/schemas/DiscountReason"
          },
          "returnReason": {
            "$ref": "#/components/schemas/ReturnReason"
          },
          "sku": {
            "description": "sku of the line",
            "$ref": "#/components/schemas/Sku"
          }
        }
      },
      "OrderExport": {
        "type": "object",
        "properties": {
          "idSku": {
            "description": "id of the sku ordered",
            "type": "number"
          },
          "idSourceSku": {
            "description": "id of the sku ordered",
            "type": "number"
          },
          "sellPrice": {
            "description": "sell price of the sku ordered",
            "type": "number"
          },
          "quantity": {
            "description": "quantity of the sku ordered",
            "type": "number"
          },
          "discount": {
            "description": "discount for the sku ordered",
            "type": "number"
          },
          "discounttype": {
            "description": "discounttype for the sku ordered",
            "type": "number"
          },
          "standardPrice": {
            "description": "standard price of the sku ordered",
            "type": "number"
          }
        }
      },
      "CollectMethod": {
        "description": "additional information in case of C&C or Home Delivery",
        "type": "object",
        "properties": {
          "idTilroy": {
            "description": "id of the collect method",
            "type": "string"
          },
          "code": {
            "description": "code of the collect method",
            "type": "string"
          },
          "isHomeDelivery": {
            "description": "Home delivery order",
            "type": "string"
          },
          "isClickAndCollect": {
            "description": "Click and Collect order",
            "type": "string"
          }
        }
      },
      "Shop": {
        "type": "object",
        "properties": {
          "idTilroy": {
            "description": "Tilroy id of the shop",
            "type": "string"
          },
          "idSource": {
            "description": "source id of the shop",
            "type": "string"
          },
          "number": {
            "description": "number of the shop",
            "type": "number"
          },
          "name": {
            "description": "name of the shop",
            "type": "string"
          },
          "country": {
            "description": "ISO 3166-1 alpha-2 country code",
            "type": "string"
          }
        }
      },
      "DiscountReason": {
        "type": "object",
        "properties": {
          "idTilroy": {
            "type": "string"
          },
          "idSource": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "descriptions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Description"
            }
          }
        }
      },
      "ReturnReason": {
        "description": "return reason in case of return",
        "type": "object",
        "properties": {
          "idTilroy": {
            "type": "string"
          },
          "idSource": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "descriptions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Description"
            }
          }
        }
      },
      "Sku": {
        "type": "object",
        "properties": {
          "idTilroy": {
            "type": "string"
          },
          "idSource": {
            "type": "string"
          }
        }
      },
      "PaymentExport": {
        "type": "object",
        "properties": {
          "idTilroySalePayment": {
            "type": "string"
          },
          "idTilroySaleLine": {
            "type": "string"
          },
          "idSourcePaymentType": {
            "description": "use paymenttype.idSource",
            "type": "string"
          },
          "amount": {
            "type": "number"
          },
          "paymentReference": {
            "description": "reference of the voucher in case of advance, gift voucher, credit voucher, loyalty voucher",
            "type": "string"
          },
          "czamReference": {
            "description": "reference of the electronic payment",
            "type": "string"
          },
          "czamTicket": {
            "description": "electronic payment info",
            "type": "string"
          },
          "czamSignatureRequired": {
            "description": "Signature of customer required Y/N",
            "type": "boolean"
          },
          "orderId": {
            "description": "internal fields of Tilroy",
            "type": "string"
          },
          "advanceSource": {
            "description": "internal fields of Tilroy",
            "type": "string"
          },
          "advanceReference": {
            "description": "reference filled by user in case of manual advance",
            "type": "string"
          },
          "timestamp": {
            "type": "string"
          },
          "paymentType": {
            "$ref": "#/components/schemas/PaymentType"
          }
        }
      },
      "PaymentType": {
        "type": "object",
        "properties": {
          "idTilroy": {
            "type": "string"
          },
          "idSource": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "descriptions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Description"
            }
          },
          "reporting": {
            "type": "boolean"
          }
        }
      },
      "VoucherExport": {
        "type": "object",
        "properties": {
          "saleVoucherId": {
            "type": "string"
          },
          "discountVoucherId": {
            "description": "id of the voucher",
            "type": "string"
          },
          "ppActivationId": {
            "description": "internal fields of Tilroy",
            "type": "string"
          },
          "customerRequired": {
            "description": "voucher can only be used by specified customer",
            "type": "boolean"
          },
          "identificationRequired": {
            "type": "string"
          },
          "isUsed": {
            "description": "voucher is actually applied in this sale, it is possible that voucher is scanned but not actually apllicable for this sale",
            "type": "boolean"
          },
          "voucher": {
            "description": "referenece of the voucher",
            "type": "string"
          },
          "description": {
            "description": "description of the voucher",
            "type": "string"
          },
          "runId": {
            "description": "run where this voucher is used",
            "type": "string"
          },
          "activationId": {
            "description": "activation where this voucher is used",
            "type": "string"
          },
          "tenantId": {
            "description": "internal fields of Tilroy",
            "type": "number"
          }
        }
      },
      "VatItem": {
        "type": "object",
        "properties": {
          "idTilroy": {
            "description": "internal fields of Tilroy",
            "type": "string"
          },
          "idVat": {
            "type": "number"
          },
          "vatPercentage": {
            "type": "number"
          },
          "amountExVat": {
            "type": "number"
          },
          "cashDiscount": {
            "type": "number"
          },
          "amountTaxable": {
            "type": "number"
          },
          "vatAmount": {
            "type": "number"
          },
          "totalAmount": {
            "type": "number"
          },
          "amountLines": {
            "description": "internal fields of Tilroy",
            "type": "number"
          },
          "amountNet": {
            "description": "internal fields of Tilroy",
            "type": "number"
          },
          "amountVat": {
            "description": "internal fields of Tilroy",
            "type": "number"
          },
          "vatKind": {
            "description": "W=Warrenty; A=Advance; G=Gift vouchers; Z=Overige",
            "type": "string"
          },
          "descriptions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Description",
              "description": "Description of the VAT kind"
            }
          }
        }
      },
      "VatType": {
        "description": "vat type of the customer",
        "type": "object",
        "properties": {
          "idTilroy": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "vatExempt": {
            "description": "vat type is VAT exempt",
            "type": "boolean"
          },
          "description": {
            "description": "description in the language of the sale",
            "type": "string"
          }
        }
      },
      "InvoiceMethod": {
        "description": "invoice method of the customer",
        "type": "object",
        "properties": {
          "idTilroy": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "isPeriodicInvoicing": {
            "type": "boolean"
          },
          "description": {
            "description": "description in the language of the sale",
            "type": "string"
          }
        }
      },
      "PaymentCondition": {
        "description": "payment condition of the customer",
        "type": "object",
        "properties": {
          "idTilroy": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "nofDays": {
            "description": "Numbers of days to pay the invoice",
            "type": "number"
          },
          "endOfMonth": {
            "description": "in case true, nofDays starting from the end of the month, otherwise invoice date",
            "type": "number"
          },
          "description": {
            "description": "description in the language of the sale",
            "type": "string"
          }
        }
      },
      "Address": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "street": {
            "type": "string"
          },
          "additionalAddress": {
            "type": "string"
          },
          "houseNumber": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "postalCode": {
            "type": "string"
          },
          "country": {
            "description": "ISO 639-1 code of language",
            "type": "string"
          },
          "box": {
            "type": "string"
          },
          "countryDescriptions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Description"
            }
          }
        }
      },
      "Channel": {
        "description": "channel where sale is placed",
        "type": "object",
        "properties": {
          "idChannel": {
            "description": "TilroyId",
            "type": "string"
          },
          "code": {
            "description": "possible values TILL, ECOM, B2B",
            "type": "string"
          },
          "descriptions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Description"
            }
          }
        }
      },
      "Intrastats": {
        "type": "object",
        "properties": {
          "code": {
            "description": "possible values TILL, ECOM, B2B",
            "type": "string"
          },
          "isReturn": {
            "type": "boolean"
          },
          "quantity": {
            "type": "number"
          },
          "netWeight": {
            "type": "number"
          },
          "amount": {
            "type": "number"
          },
          "descriptions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Description"
            }
          }
        }
      },
      "Description": {
        "type": "object",
        "properties": {
          "languageCode": {
            "description": "ISO 639-1 code of language",
            "type": "string"
          },
          "description": {
            "description": "description in the specified language",
            "type": "string"
          },
          "idLanguage": {
            "description": "internal fields of Tilroy",
            "type": "string"
          }
        }
      },
      "LogLevel": {
        "type": "object",
        "properties": {
          "level": {
            "type": "string"
          }
        },
        "required": [
          "level"
        ]
      },
      "Error": {
        "description": "The error object returned by the service",
        "type": "object",
        "properties": {
          "code": {
            "description": "Code of the error, assigned by Node or the developer.",
            "type": "string"
          },
          "message": {
            "description": "More information about the cause of the error.",
            "type": "string"
          }
        }
      },
      "SalePayload": {
        "type": "object",
        "properties": {
          "barcode": {
            "type": "string",
            "example": "107898987"
          },
          "shop": {
            "type": "object",
            "properties": {
              "number": {
                "type": "string",
                "example": "101"
              },
              "sourceId": {
                "type": "string",
                "example": "ste698"
              }
            }
          },
          "customer": {
            "type": "object",
            "properties": {
              "tilroyId": {
                "type": "string",
                "example": "10016"
              },
              "code": {
                "type": "string",
                "example": "1016-rs"
              },
              "sourceId": {
                "type": "string",
                "example": "se98d5a"
              },
              "email": {
                "type": "string",
                "example": "jan.jansens@jan.be"
              }
            }
          },
          "fallbackCustomer": {
            "type": "object",
            "properties": {
              "tilroyId": {
                "type": "string",
                "example": "10016"
              },
              "code": {
                "type": "string",
                "example": "1016-rs"
              },
              "sourceId": {
                "type": "string",
                "example": "se98d5a"
              },
              "email": {
                "type": "string",
                "example": "jan.jansens@jan.be"
              }
            }
          },
          "saleDate": {
            "type": "string",
            "example": "2021-06-16"
          },
          "lines": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SaleLinePayload"
            }
          },
          "orderNumber": {
            "type": "string",
            "example": "3659857"
          },
          "isVatInclusive": {
            "type": "boolean",
            "default": false
          }
        },
        "required": [
          "lines",
          "shop",
          "barcode",
          "saleDate"
        ]
      },
      "SaleLinePayload": {
        "type": "object",
        "properties": {
          "lineNumber": {
            "type": "number",
            "example": 1
          },
          "quantity": {
            "type": "number",
            "example": 5
          },
          "sellPrice": {
            "type": "number",
            "example": 5.45
          },
          "standardPrice": {
            "type": "number",
            "example": 4.5
          },
          "vatPercentage": {
            "type": "number",
            "example": 21
          },
          "skuSourceId": {
            "type": "string",
            "example": "onboarding_s20161223-102420_1"
          },
          "fallbackSkuSourceId": {
            "type": "string",
            "example": "onboarding_s20161223-102420_1"
          },
          "skuBarcode": {
            "type": "string",
            "example": "36525478555425"
          },
          "fallbackSkuBarcode": {
            "type": "string",
            "example": "36525478555425"
          },
          "codes": {
            "type": "object",
            "properties": {
              "product": {
                "type": "string"
              },
              "colour": {
                "type": "string"
              },
              "size": {
                "type": "string"
              }
            },
            "required": [
              "product",
              "colour",
              "size"
            ]
          },
          "fallbackCodes": {
            "type": "object",
            "properties": {
              "product": {
                "type": "string"
              },
              "colour": {
                "type": "string"
              },
              "size": {
                "type": "string"
              }
            },
            "required": [
              "product",
              "colour",
              "size"
            ]
          },
          "description": {
[...]
