{
  "openapi": "3.0.1",
  "info": {
    "title": "Shipment API",
    "description": "Shipment API",
    "version": "1.7.3"
  },
  "servers": [
    {
      "url": "https://api.tilroy.com/shipmentapi/production"
    }
  ],
  "paths": {
    "/shipments/postnl": {
      "post": {
        "tags": [
          "PostNL"
        ],
        "summary": "Handle PostNL Order Shipments",
        "parameters": [
          {
            "$ref": "#/components/parameters/headerXApiKey"
          },
          {
            "$ref": "#/components/parameters/headerCustomerNumber"
          },
          {
            "$ref": "#/components/parameters/authorization"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/PostNLShipment"
        },
        "responses": {
          "200": {
            "content": {},
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/loglevel": {
      "post": {
        "x-internal": true,
        "tags": [
          "loglevel"
        ],
        "summary": "Set the loglevel for the service.",
        "requestBody": {
          "$ref": "#/components/requestBodies/loglevel"
        },
        "responses": {
          "200": {
            "description": "ok",
            "content": {}
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "headerTilroyApiKey": {
        "name": "Tilroy-Api-Key",
        "in": "header",
        "required": true,
        "description": "API key to identify and validate the tenant",
        "schema": {
          "type": "string"
        }
      },
      "headerCustomerNumber": {
        "name": "customerNumber",
        "in": "header",
        "required": true,
        "description": "PostNL Customer Number",
        "schema": {
          "type": "string"
        }
      },
      "headerXApiKey": {
        "name": "x-api-key",
        "in": "header",
        "required": true,
        "description": "API key of AWS",
        "schema": {
          "type": "string"
        }
      },
      "authorization": {
        "name": "Authorization",
        "in": "header",
        "description": "Bearer access token for the endpoint",
        "required": true,
        "schema": {
          "type": "string"
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Bad Request",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "InternalError": {
        "description": "Internal Server Error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "NotFoundError": {
        "description": "Not Found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    },
    "schemas": {
      "PostNLShipment": {
        "required": [
          "merchantCode",
          "type",
          "messageNo",
          "date",
          "time",
          "orderStatus"
        ],
        "type": "object",
        "properties": {
          "merchantCode": {
            "type": "string",
            "example": "gm"
          },
          "type": {
            "type": "string",
            "example": "1231"
          },
          "messageNo": {
            "type": "number",
            "example": 10
          },
          "date": {
            "type": "string",
            "format": "date",
            "example": "2023-01-01"
          },
          "time": {
            "type": "string",
            "example": "10:40"
          },
          "orderStatus": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PostNLShipmentOrderStatus"
            }
          }
        }
      },
      "PostNLShipmentOrderStatus": {
        "required": [
          "orderNo",
          "trackAndTraceCode",
          "orderDate",
          "orderTime",
          "postalCode",
          "shipDate",
          "shipTime",
          "orderStatusLines"
        ],
        "type": "object",
        "properties": {
          "orderNo": {
            "type": "string",
            "example": "1231431"
          },
          "trackAndTraceCode": {
            "type": "string",
            "example": "BE12341CD"
          },
          "orderDate": {
            "type": "string",
            "format": "date",
            "example": "2023-01-01"
          },
          "orderTime": {
            "type": "string",
            "example": "10:40"
          },
          "postalCode": {
            "type": "string",
            "example": "1500"
          },
          "houseNumber": {
            "type": "number",
            "example": 5
          },
          "houseNumberAddition": {
            "type": "string",
            "example": "Box 10231"
          },
          "shipDate": {
            "type": "string",
            "format": "date",
            "example": "2023-01-01"
          },
          "shipTime": {
            "type": "string",
            "example": "10:40"
          },
          "orderStatusLines": {
            "$ref": "#/components/schemas/PostNLShipmentOrderStatusLine"
          }
        }
      },
      "PostNLShipmentOrderStatusLine": {
        "required": [
          "orderStatusLine"
        ],
        "type": "object",
        "properties": {
          "orderStatusLine": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PostNLShipmentOrderStatusLineItem"
            }
          }
        }
      },
      "PostNLShipmentOrderStatusLineItem": {
        "required": [
          "itemNo",
          "quantity"
        ],
        "type": "object",
        "properties": {
          "itemNo": {
            "type": "string",
            "example": "1317485"
          },
          "quantity": {
            "type": "number",
            "example": 10
          },
          "expiryDate": {
            "type": "string",
            "format": "date",
            "example": "2023-01-01"
          },
          "serialNo": {
            "type": "string",
            "example": "13123123123"
          }
        }
      },
      "LogLevel": {
        "required": [
          "level"
        ],
        "type": "object",
        "properties": {
          "level": {
            "type": "string"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Code of the error, assigned by Node or the developer."
          },
          "message": {
            "type": "string",
            "description": "More information about the cause of the error."
          }
        },
        "description": "The error object returned by the service"
      }
    },
    "requestBodies": {
      "PostNLShipment": {
        "description": "The PostNL Shipment JSON in the body of the request or response",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/PostNLShipment"
            }
          }
        },
        "required": true
      },
      "loglevel": {
        "description": "The logging level type in the body of the request",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/LogLevel"
            }
          }
        },
        "required": true
      }
    }
  }
}