{
  "openapi": "3.0.1",
  "info": {
    "title": "StockAPI",
    "description": "aka importstockgateway",
    "version": "2.8.4"
  },
  "servers": [
    {
      "url": "https://api.tilroy.com/stockapi/production"
    }
  ],
  "paths": {
    "/import/stock": {
      "post": {
        "description": "This endpoint is for importing initial stocks",
        "summary": "import a stock",
        "tags": [
          "import"
        ],
        "deprecated": false,
        "parameters": [
          {
            "$ref": "#/components/parameters/headerTilroyApiKey"
          },
          {
            "$ref": "#/components/parameters/headerXApiKey"
          }
        ],
        "requestBody": {
          "description": "The stock JSON in the body of the request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StockImport"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "succesfully imported a stock",
            "headers": {}
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/import/stockcorrections": {
      "post": {
        "summary": "import a stock correction",
        "tags": [
          "import"
        ],
        "description": "This endpoint is for importing stock corrections",
        "parameters": [
          {
            "$ref": "#/components/parameters/headerTilroyApiKey"
          },
          {
            "$ref": "#/components/parameters/headerXApiKey"
          }
        ],
        "requestBody": {
          "description": "The stock JSON in the body of the request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StockCorrectionImport"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "succesfully imported a stock correction",
            "content": {}
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/export/stockdeltas": {
      "get": {
        "tags": [
          "export"
        ],
        "summary": "get Stock Delta exports",
        "description": "The list with properties is not complete. You'll notice more properties then described in this document. Please only use the documented fields. **Undocumented fields can change or be deleted!**",
        "parameters": [
          {
            "$ref": "#/components/parameters/headerTilroyApiKey"
          },
          {
            "$ref": "#/components/parameters/headerXApiKey"
          },
          {
            "$ref": "#/components/parameters/queryCount"
          },
          {
            "$ref": "#/components/parameters/queryPage"
          },
          {
            "$ref": "#/components/parameters/queryFields"
          },
          {
            "$ref": "#/components/parameters/queryDateFromExport"
          },
          {
            "$ref": "#/components/parameters/queryDateExportedSince"
          }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "headers": {
              "X-Paging-ItemsPerPage": {
                "$ref": "#/components/headers/X-Paging-ItemsPerPage"
              },
              "X-Paging-ItemCount": {
                "$ref": "#/components/headers/X-Paging-ItemCount"
              },
              "X-Paging-PageCount": {
                "$ref": "#/components/headers/X-Paging-PageCount"
              },
              "X-Paging-CurrentPage": {
                "$ref": "#/components/headers/X-Paging-CurrentPage"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StockDeltaExport"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/stockcorrections/import": {
      "post": {
        "tags": [
          "stock"
        ],
        "summary": "posts a stock to the bus",
        "parameters": [
          {
            "$ref": "#/components/parameters/tenantId"
          }
        ],
        "requestBody": {
          "description": "The stock JSON in the body of the request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Stock"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "succesfully posted stock to AWS",
            "content": {}
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/stock": {
      "get": {
        "tags": [
          "stock"
        ],
        "summary": "gets stock from stock service",
        "parameters": [
          {
            "$ref": "#/components/parameters/headerTilroyApiKey"
          },
          {
            "$ref": "#/components/parameters/headerXApiKey"
          },
          {
            "$ref": "#/components/parameters/skuTilroyId"
          },
          {
            "$ref": "#/components/parameters/skuSourceId"
          },
          {
            "$ref": "#/components/parameters/shopNumber"
          },
          {
            "$ref": "#/components/parameters/shopTilroyId"
          },
          {
            "$ref": "#/components/parameters/withQtyOrdered"
          },
          {
            "$ref": "#/components/parameters/queryPage"
          },
          {
            "$ref": "#/components/parameters/queryCount"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Stock"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/stock/{stockTilroyId}": {
      "get": {
        "tags": [
          "stock"
        ],
        "summary": "get stock by id from stock service",
        "parameters": [
          {
            "$ref": "#/components/parameters/headerTilroyApiKey"
          },
          {
            "$ref": "#/components/parameters/headerXApiKey"
          },
          {
            "$ref": "#/components/parameters/withQtyOrdered"
          },
          {
            "$ref": "#/components/parameters/stockTilroyId"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/StockById"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/stockchanges": {
      "get": {
        "tags": [
          "stock"
        ],
        "summary": "get stock changes",
        "parameters": [
          {
            "$ref": "#/components/parameters/headerTilroyApiKey"
          },
          {
            "$ref": "#/components/parameters/headerXApiKey"
          },
          {
            "$ref": "#/components/parameters/queryPage"
          },
          {
            "$ref": "#/components/parameters/queryCount"
          },
          {
            "$ref": "#/components/parameters/queryDateFrom"
          },
          {
            "$ref": "#/components/parameters/queryDateTo"
          },
          {
            "$ref": "#/components/parameters/shopNumber"
          },
          {
            "$ref": "#/components/parameters/shopTilroyId"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/StockChangesRes"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Stock": {
        "required": [
          "Reason",
          "idSource"
        ],
        "type": "object",
        "properties": {
          "idSource": {
            "type": "string"
          },
          "idSourceSku": {
            "type": "string"
          },
          "barcode": {
            "type": "string"
          },
          "delta": {
            "type": "number"
          },
          "deltaReserved": {
            "type": "number"
          },
          "deltaTransfer": {
            "type": "number"
          },
          "Reason": {
            "type": "string"
          },
          "shop": {
            "$ref": "#/components/schemas/Shop"
          }
        }
      },
      "StockSearchResult": {
        "type": "array",
        "items": {
          "allOf": [
            {
              "$ref": "#/components/schemas/StockApiResBody"
            }
          ]
        }
      },
      "StockApi": {
        "allOf": [
          {
            "$ref": "#/components/schemas/StockApiResBody"
          }
        ],
        "type": "object",
        "properties": {
          "sku": {
            "type": "object",
            "properties": {
              "sourceId": {
                "type": "string",
                "example": "onboarding_s20220406-161241_1"
              }
            }
          }
        }
      },
      "StockApiResBody": {
        "type": "object",
        "properties": {
          "tilroyId": {
            "type": "string",
            "example": "sku_10926674_shop_43"
          },
          "sku": {
            "type": "object",
            "properties": {
              "tilroyId": {
                "type": "string",
                "example": "10926674"
              },
              "sourceId": {
                "type": "string"
              }
            }
          },
          "shop": {
            "type": "object",
            "properties": {
              "tilroyId": {
                "type": "string",
                "example": "43"
              },
              "number": {
                "type": "number",
                "example": 101
              }
            }
          },
          "location1": {
            "type": "string",
            "example": "AA01"
          },
          "location2": {
            "type": "string",
            "example": "AA02"
          },
          "qty": {
            "type": "object",
            "properties": {
              "available": {
                "type": "number",
                "example": 5
              },
              "ideal": {
                "type": "number",
                "example": 5
              },
              "max": {
                "type": "number",
                "example": 10
              },
              "requested": {
                "type": "number",
                "example": 2
              },
              "transfered": {
                "type": "number",
                "example": 2
              },
              "ordered": {
                "type": "number",
                "example": 4
              }
            }
          },
          "refill": {
            "type": "number",
            "example": 2
          },
          "dateUpdated": {
            "type": "string",
            "example": "2022-07-22T13:44:23.164Z"
          }
        }
      },
      "StockChangesRes": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "tilroyId": {
              "type": "string"
            },
            "sku": {
              "type": "object",
              "properties": {
                "tilroyId": {
                  "type": "string"
                },
                "sourceId": {
                  "type": "string"
                }
              }
            },
            "shop": {
              "type": "object",
              "properties": {
                "tilroyId": {
                  "type": "string"
                },
                "number": {
                  "type": "number"
                }
              }
            },
            "qty": {
              "type": "object",
              "properties": {
                "available": {
                  "type": "number"
                },
                "ideal": {
                  "type": "number"
                },
                "max": {
                  "type": "number"
                },
                "transfered": {
                  "type": "number"
                },
                "reserved": {
                  "type": "number"
                },
                "requested": {
                  "type": "number"
                }
              }
            },
            "refill": {
              "type": "number"
            },
            "dateCreated": {
              "type": "string",
              "format": "date-time"
            },
            "dateUpdated": {
              "type": "string",
              "format": "date-time"
            },
            "modificationType": {
              "type": "string"
            },
            "location1": {
              "type": "string"
            },
            "location2": {
              "type": "string"
            },
            "pickupLocation": {
              "type": "string"
            },
            "inAssortment": {
              "type": "boolean"
            },
            "lastExternalDelivery": {
              "type": "string"
            }
          }
        }
      },
      "StockDeltaExport": {
        "type": "object",
        "properties": {
          "tilroyId": {
            "type": "string",
            "example": 3652145
          },
          "timestamp": {
            "type": "string",
            "example": "2020-03-16T14:16:24.985+0000"
          },
          "sourceId": {
            "type": "string",
            "example": 3659874
          },
          "modificationType": {
            "type": "string",
            "example": "transfer"
          },
          "reason": {
            "type": "string",
            "example": "string"
          },
          "shop": {
            "$ref": "#/components/schemas/ShopExport"
          },
          "product": {
            "$ref": "#/components/schemas/ProductExport"
          },
          "colour": {
            "$ref": "#/components/schemas/ColourExport"
          },
          "size": {
            "$ref": "#/components/schemas/SizeExport"
          },
          "sku": {
            "$ref": "#/components/schemas/SkuExport"
          },
          "qtyDelta": {
            "type": "number",
            "example": 10
          },
          "qtyTransferredDelta": {
            "type": "number",
            "example": 8
          },
          "qtyReservedDelta": {
            "type": "number",
            "example": 4
          },
          "cause": {
            "type": "string",
            "example": "inventory"
          },
          "dateExported": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Shop": {
        "type": "object",
        "properties": {
          "idSource": {
            "type": "string"
          },
          "shopNumber": {
            "type": "number"
          }
        }
      },
      "ShopExport": {
        "type": "object",
        "properties": {
          "number": {
            "type": "number",
            "example": 1
          },
          "sourceId": {
            "type": "string",
            "example": 3659854
          }
        }
      },
      "ProductExport": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "example": "DOD00145"
          },
          "sourceId": {
            "type": "string",
            "example": "DOD00145"
          }
        }
      },
      "ColourExport": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "example": "NoColour"
          },
          "sourceId": {
            "type": "string",
            "example": "DOD00145-NoColour"
          }
        }
      },
      "Sku": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/SkuBarcode"
          },
          {
            "$ref": "#/components/schemas/SkuSourceId"
          }
        ]
      },
      "SkuBarcode": {
        "type": "object",
        "properties": {
          "barcode": {
            "type": "string",
            "maxLength": 100
          }
        },
        "required": [
          "barcode"
        ]
      },
      "SkuSourceId": {
        "type": "object",
        "properties": {
          "sourceId": {
            "type": "string",
            "maxLength": 50
          }
        },
        "required": [
          "sourceId"
        ]
      },
      "SizeExport": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "example": "1Size"
          }
        }
      },
      "SkuExport": {
        "type": "object",
        "properties": {
          "barcode": {
            "type": "string",
            "example": 2000000032443
          },
          "sourceId": {
            "type": "string",
            "example": "DOD00145-NoColour-1Size"
          }
        }
      },
      "Barcode": {
        "type": "object",
        "description": "barcode of the sku",
        "properties": {
          "barcode": {
            "type": "string",
            "maxLength": 100
          }
        },
        "required": [
          "barcode"
        ]
      },
      "LogLevel": {
        "required": [
          "level"
        ],
        "type": "object",
        "properties": {
          "level": {
            "type": "string"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Code of the error, assigned by Node or the developer."
          },
          "message": {
            "type": "string",
            "description": "More information about the cause of the error."
          }
        },
        "description": "The error object returned by the service"
      },
      "StockCorrectionImport": {
        "type": "object",
        "description": "required: <ul><li>sku or barcode (if both are available, sku will be used)</li><li> delta, deltaReserved or deltaTransfer</li></ul>",
        "properties": {
          "sourceId": {
            "type": "string",
            "maxLength": 50,
            "description": "unique reference of the stock correction"
          },
          "sku": {
            "$ref": "#/components/schemas/Sku"
          },
          "barcode": {
            "$ref": "#/components/schemas/Barcode"
          },
          "delta": {
            "type": "integer",
            "description": "quantity of the stock correction positive or negative"
          },
          "deltaReserved": {
            "type": "integer",
            "description": "quantity reserved of the stock correction positive or negative"
          },
          "reason": {
            "type": "string",
            "maxLength": 400,
            "description": "reason of the stock correction"
          },
          "shop": {
            "$ref": "#/components/schemas/ShopImport"
          }
        },
        "required": [
          "sourceId",
          "shop",
          "delta",
          "reason",
          "deltaReserved"
        ]
      },
      "ShopImport": {
        "type": "object",
        "description": "Shop of the stock. (required: sourceId or shopNumber)",
        "properties": {
          "sourceId": {
            "type": "string"
          },
          "number": {
            "type": "number"
          }
        }
      },
      "StockImportBase": {
        "type": "object",
        "properties": {
          "sourceId": {
            "description": "unique reference of the stock",
            "type": "string",
            "maxLength": 50,
            "example": "36DBE20"
          },
          "sku": {
            "$ref": "#/components/schemas/Sku"
          },
          "reason": {
            "description": "reason of the stock",
            "type": "string",
            "maxLength": 400,
            "example": "init stock"
          },
          "shop": {
            "$ref": "#/components/schemas/ShopImport"
          }
        },
        "required": [
          "sourceId",
          "reason",
          "shop"
        ]
      },
      "StockImportSku": {
        "allOf": [
          {
            "$ref": "#/components/schemas/StockImportBase"
          },
          {
            "type": "object",
            "properties": {
              "sku": {
                "$ref": "#/components/schemas/Sku"
              }
            },
            "required": [
              "sku"
            ]
          }
        ]
      },
      "StockImportBarcode": {
        "allOf": [
          {
            "$ref": "#/components/schemas/StockImportBase"
          },
          {
            "type": "object",
            "properties": {
              "barcode": {
                "$ref": "#/components/schemas/Barcode"
              }
            },
            "required": [
              "barcode"
            ]
          }
        ]
      },
      "StockImportQuantity": {
        "allOf": [
          {
            "$ref": "#/components/schemas/StockImportSku"
          },
          {
            "type": "object",
            "properties": {
              "quantity": {
                "description": "total quantity of the stock",
                "type": "integer",
                "format": "int32",
                "example": 544
              }
            },
            "required": [
              "quantity"
            ]
          }
        ]
      },
      "StockImportAvailableQuantity": {
        "allOf": [
          {
            "$ref": "#/components/schemas/StockImportSku"
          },
          {
            "type": "object",
            "properties": {
              "availableQuantity": {
                "description": "available quantity of the stock",
                "type": "integer",
                "format": "int32",
                "example": 540
              }
            },
            "required": [
              "availableQuantity"
            ]
          }
        ]
      },
      "StockImport": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/StockImportQuantity"
          },
          {
            "$ref": "#/components/schemas/StockImportAvailableQuantity"
          }
        ]
      }
    },
    "parameters": {
      "headerTilroyApiKey": {
        "name": "Tilroy-Api-Key",
        "in": "header",
        "required": true,
        "description": "API key to identify and validate the tenant",
        "schema": {
          "type": "string"
        }
      },
      "headerXApiKey": {
        "name": "x-api-key",
        "in": "header",
        "required": true,
        "description": "API key of AWS",
        "schema": {
          "type": "string"
        }
      },
      "tenantId": {
        "name": "Tilroy-Tenant-Id",
        "in": "header",
        "required": true,
        "description": "tenantId",
        "schema": {
          "type": "string"
        }
      },
      "stockTilroyId": {
        "name": "stockTilroyId",
        "in": "path",
        "required": true,
        "description": "the Stock ID in the Tilroy system context",
        "schema": {
          "type": "string"
        }
      },
      "queryCount": {
        "name": "count",
        "in": "query",
        "description": "max number of items to be returned (default = 10, max = 100)",
        "schema": {
          "type": "string",
          "default": "10"
        }
      },
      "queryPage": {
        "name": "page",
        "in": "query",
        "description": "page of results to be returned (default = 1)",
        "schema": {
          "type": "string",
          "default": "1"
        }
      },
      "queryDateFrom": {
        "name": "dateFrom",
        "in": "query",
        "description": "filter results by the date the item was created for export",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "queryDateFromExport": {
        "name": "dateFrom",
        "in": "query",
        "description": "filter results by the date the item was created for export (Deprecated, use dateExportedSince)",
        "required": false,
        "schema": {
          "type": "string"
        }
      },
      "queryDateExportedSince": {
        "in": "query",
        "name": "dateExportedSince",
        "schema": {
          "type": "string",
          "format": "date-time"
        },
        "description": "filter results by the date the item was created for export",
        "required": true
      },
      "queryDateTo": {
        "name": "dateTo",
        "in": "query",
        "description": "filter results by the date the item was created for export",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "skuTilroyId": {
        "name": "skuTilroyId",
        "in": "query",
        "description": "filter results by skuId or a comma-separated list of skuIds (tilroyId or sourceId required)",
        "required": false,
        "schema": {
          "type": "string"
        }
      },
      "skuSourceId": {
        "name": "skuSourceId",
        "in": "query",
        "description": "filter results by a single skuSourceId (tilroyId or sourceId required)",
        "required": false,
        "schema": {
          "type": "string"
        }
      },
      "shopNumber": {
        "name": "shopNumber",
        "in": "query",
        "description": "filter results by shopNumber",
        "required": false,
        "schema": {
          "type": "string"
        }
      },
      "shopTilroyId": {
        "name": "shopTilroyId",
        "in": "query",
        "description": "filter results by shopTilroyId",
        "required": false,
        "schema": {
          "type": "string"
        }
      },
      "withQtyOrdered": {
        "name": "withQtyOrdered",
        "in": "query",
        "description": "Add qty ordered to result",
        "required": false,
        "schema": {
          "type": "string"
        }
      },
      "queryFields": {
        "in": "query",
        "name": "fields",
        "schema": {
          "type": "string"
        },
        "description": "Comma-separated list of all fields you want returned in the result. All other fields will be omitted.",
        "required": false
      },
      "skuTilroyIds": {
        "name": "skuTilroyIds",
        "in": "query",
        "description": "Comma-separated list of skuTilroyIds to filter results by",
        "required": false,
        "schema": {
          "type": "string"
        }
      },
      "skuBarcodes": {
        "name": "skuBarcodes",
        "in": "query",
        "description": "Comma-separated list of skuBarcodes to filter results by",
        "required": false,
        "schema": {
          "type": "string"
        }
      },
      "skuSourceIds": {
        "name": "skuSourceIds",
        "in": "query",
        "description": "Comma-separated list of skuSourceIds to filter results by",
        "required": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "requestBodies": {
      "stock": {
        "description": "The stock JSON in the body of the request",
        "content": {
          "*/*": {
            "schema": {
              "$ref": "#/components/schemas/Stock"
            }
          }
        },
        "required": true
      },
      "loglevel": {
        "description": "The logging level type in the body of the request",
        "content": {
          "*/*": {
            "schema": {
              "$ref": "#/components/schemas/LogLevel"
            }
          }
        },
        "required": true
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Bad Request",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Forbidden": {
        "description": "403: Forbidden",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "InternalError": {
        "description": "Internal Server Error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "NotFoundError": {
        "description": "Not Found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "401: Unauthorized",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Stock": {
        "description": "result stock",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/StockSearchResult"
            }
          }
        }
      },
      "StockById": {
        "description": "result stock",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/StockApi"
            }
          }
        }
      },
      "StockChangesRes": {
        "description": "stock changes result",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/StockChangesRes"
            }
          }
        }
      }
    },
    "headers": {
      "X-Paging-ItemsPerPage": {
        "description": "number of max items returned per page.",
        "schema": {
          "type": "number"
        }
      },
      "X-Paging-ItemCount": {
        "description": "total number of items over all pages.",
        "schema": {
          "type": "number"
        }
      },
      "X-Paging-PageCount": {
        "description": "total number of pages.",
        "schema": {
          "type": "number"
        }
      },
      "X-Paging-CurrentPage": {
        "description": "number of the current page.",
        "schema": {
          "type": "number"
        }
      }
    }
  }
}